ion-toolbar {
    background-color: #CFEEF9;

    ion-title {
        color: black;
        font-weight: 600;
    }

    ion-buttons {
        color: black;
        font-size: large;
    }
}

ion-content {
    --background: rgb(207, 238, 249);
    --margin-top: 20px;
    --padding-start: 20px;
    --padding-end: 20px;

    .searchbar-container {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 24px;

        ion-searchbar {
            margin-top: 20px;
            height: 50px;
            --border-radius: 30px;
            --box-shadow: none;
            //background-color: azure;
            border-radius: 30px;
            border: 1px solid black; // or background-color: azure;
            color: black; // grey with background-color: azure
            //box-shadow: 0 8px 14px rgba(0, 0, 0, 0.2);
        }
    }


    ion-list {
        background-color: transparent;
        
        ion-item {
            margin-top: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            background: rgb(123, 195, 255);//rgb(201, 201, 201);//rgb(61, 136, 235);
            //border-radius: 22px;
            border-radius: 30px;

            ion-label {
                font-size: 17px;
                margin-left: 7px;
                color: black;
                //font-weight: 600;
            }

            ion-icon {
                margin-right: 6px;
                color: black;
            }
        }

    }
}