<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title>Mindpedia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="searchbar-container">
    <ion-searchbar color="transparent" show-clear-button="focus" (ionInput)="handleInput($event)"></ion-searchbar>
  </div>

  <ion-list lines="none" *ngFor="let result of results">
    <ion-item color="transparent" routerLink="{{ result.routerLink }}"
      [ngClass]="{'sex-dys-para': result.title === 'Sexual Dysfunction & Paraphilias'}">
      <ion-label>{{ result.title }}</ion-label>
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>