<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-content [fullscreen]="true">
  <div class="logo-background">
    <img class="logo" src="assets/logo/mind-mate_logo.png" alt="MindMate Logo">
  </div>

  <div class="content-container">

    <ion-card class="ion-margin">
      <div class="ion-padding" (ionChange)="segmentChanged($event)">
        <ion-segment mode="ios" [value]="segmentValue" class="auth-segment">
          <ion-segment-button value="1">
            <ion-label>Log In</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
            <ion-label>Sign Up</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <app-login *ngIf="segmentValue == '1'"></app-login>
      <app-sign-up *ngIf="segmentValue == '2'"></app-sign-up>
    </ion-card>

  </div>
</ion-content>