ion-content {
    --background: url('../../../../assets/backgrounds/login/login_background1.png') no-repeat left center/cover;
    display: flex;
    align-items: center;
    height: 100%;

    .logo-background {
        display: flex;
        justify-content: center;
        //align-items: center;
        margin-top: 30%;
        //transform: translateY(16vh);
        border-radius: 100px;

        @media (max-height: 897px) {
            margin-top: 27%;
        }

        @media (max-height: 871px) {
            margin-top: 24.5%;
        }

        @media (max-height: 845px) {
            margin-top: 22%;
        }

        @media (max-height: 819px) {
            margin-top: 19.75%;
        }

        @media (max-height: 793px) {
            margin-top: 17.5%;
        }

        @media (max-height: 767px) {
            margin-top: 13.75%;
        }

        @media (max-height: 741px) {
            margin-top: 10%;
        }

        @media (max-height: 705px) {
            margin-top: 7.5%;
        }

        @media (max-height: 668px) {
            margin-top: 5%;
        }

        .logo {
            max-width: 40%;
            //min-width: 40%;
            //justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            //border: 2px solid #000;
            border-radius: 50%;
            object-fit: cover;
            background-color: transparent;
            //padding: 10px;
        }
    }

    ion-card {
        box-shadow: none;
        border-radius: 20px;
        margin-top: 0;
        //transform: translateY(16vh);
        background-color: rgba($color: #000000, $alpha: 0.1);

        //display: flex;
        //flex-direction: column;
        //justify-content: center;
        //align-items: center;

        //.auth-list {
        //    border-radius: 5px;

        .auth-segment {
            --background: rgba($color: #000000, $alpha: 0.1);
            border-radius: 20px;
            border: 1px solid var(--ion-color-medium);
            --margin-top: 5px;
            --margin-bottom: 5px;

            ion-segment-button {
                --background-checked: rgb(61, 136, 235);
                --indicator-color: rgb(61, 136, 235);
                --border-radius: 20px;
                --color: rgb(61, 136, 235);
                --color-checked: var(--ion-color-light);
            }
        }

        //}

        // ion-card {
        //     box-shadow: none;
        //     border-radius: 20px;
        //     transform: translateY(60%);
        //     background-color: rgba($color: #000000, $alpha: 0.1); //rgba(89, 165, 255, 0.2);
        //backdrop-filter: blur(8px);


        ion-item {
            --border-radius: 30px;
            --ion-item-background: #cfeef9;

            ion-icon {
                color: rgb(68, 68, 68);
                font-size: 20px;
            }

            .pwd-eye {
                color: rgb(95, 95, 95);
            }
        }

        ion-input {
            font-size: 1rem;
            color: rgb(22, 22, 22);
        }

        .fpwd {
            font-size: 0.9rem;
            color: rgb(61, 61, 61);
        }

        .submit {
            margin-top: 2rem;

            ion-button {
                --background: linear-gradient(to right, #3d88eb, #0b5bee);
                --border-radius: 15px;
                text-transform: none;
            }

            ion-text {
                font-size: 1.2rem;
            }
        }
    }
}