<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Generalized Anxiety Disorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item color="transparent" class="first-item">
      <div color="transparent">
        <h4>What is it?</h4>
        <h5>
          GAD (Generalized Anxiety Disorder) involves persistent and excessive worry about various life events. The anxiety is often disproportionate
          to the situation and lasts for an extended period, typically six months or more.
        </h5>
      </div>
    </ion-item>
    <ion-item color="transparent">
      <div>
        <h4 class="titles">Symptoms</h4>
        <h5>
          <ion-list class="content-list">
            <ul>
              <li>Restlessness</li>
              <li>Difficulty Concentrating</li>
              <li>Muscle Tension</li>
              <li>Sleep Disturbances</li>
              <li>Irritability</li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
    <!-- <ion-item color="transparent">
      <div>
        <h4>Edidiomology</h4>
        <h5>

        </h5>
      </div>
    </ion-item> -->
    <ion-item color="transparent">
      <div>
        <h4>Possible Treatment</h4>
        <h5>
          <p class="subtitles">Cognitive Behavioral Therapy:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Helps patients to manage and reframe negative thinking patterns.</li>
            </ul>
          </ion-list>
          <p class="subtitles">Medications:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Antidepressants</li>
              <li>Anti-anxiety Drugs</li>
            </ul>
          </ion-list>
          <p class="subtitles">Relaxation Techniques:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Deep Breathing</li>
              <li>Meditation</li>
              <li>Progressive Muscle Relaxation<sup>1</sup></li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
  </ion-list>

  <div class="sources">
    <p>
      [1] Stein, M. B., & Sareen, J. (2015). Generalized anxiety disorder. New England Journal of Medicine, 373(21),
      2059-2068.
    </p>
  </div>
</ion-content>