<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Panic Disorder & Agoraphobia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item color="transparent" class="first-item">
      <div color="transparent">
        <h4>What is it?</h4>
        <h5>
          Panic disorder involves recurrent, unexpected panic attacks, which are sudden periods of intense fear or
          discomfort. Agoraphobia is often linked to panic disorder and refers to the fear of places or situations where
          escape might be difficult or where help may not be available during a panic attack.
        </h5>
      </div>
    </ion-item>
    <ion-item color="transparent">
      <div>
        <h4 class="titles">Symptoms</h4>
        <h5>
          <ion-list class="content-list">
            <ul>
              <li>Panic Attacks with chest pain, shortness of breath, dizziness or other physical symptoms</li>
              <li>Fear of having another panic attack</li>
              <li>Agoraphobia: Avoidance of places (crowded areas, open spaces or public transports)</li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
    <!-- <ion-item color="transparent">
      <div>
        <h4>Edidiomology</h4>
        <h5>

        </h5>
      </div>
    </ion-item> -->
    <ion-item color="transparent">
      <div>
        <h4>Possible Treatment</h4>
        <h5>
          <p class="subtitles">Cognitive Behavioral Therapy:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Particularly exposure therapy to reduce fear of triggering situations.</li>
            </ul>
          </ion-list>
          <p class="subtitles">Medications:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Antidepressants</li>
              <li>Benzodiazepines (for short-term relief)</li>
            </ul>
          </ion-list>
          <p class="subtitles">Lifestyle Changes:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>For stress management and exercise <sup>1</sup></li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
  </ion-list>

  <div class="sources">
    <p>
      [1] Asmundson, G. J., Taylor, S., & AJ Smits, J. (2014). Panic disorder and agoraphobia: An overview and
      commentary on DSM-5 changes. Depression and Anxiety, 31(6), 480-486.
    </p>
  </div>
</ion-content>