<!-- <ion-menu menuId="playlist-menu" contentId="playlist-settings" side="end">
  <ion-content class="ion-no-padding playlist-menu-content">
    <ion-list class="menu-list" lines="none">
      <ion-item class="menu-items" color="transparent">
        Background
      </ion-item>
      <ion-item class="menu-items" color="transparent">
        Notifications
      </ion-item>
      <ion-item class="menu-items" color="transparent">
        Profile
      </ion-item>
      <ion-item class="menu-items" color="transparent">
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->

<div class="ion-page" id="side-menu-content">
  <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start" id="playlist-edit-profile">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-buttons>
      <ion-title>
        Playlists
      </ion-title>
      <ion-buttons slot="primary">
        <ion-menu-button menu="side-menu">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-modal #edit_profile trigger="playlist-edit-profile">
    <ng-template>
      <div class="transparent">
        <app-edit-profile></app-edit-profile>
      </div>
    </ng-template>
  </ion-modal>

  <ion-content [fullscreen]="true" class="main-content">

    <div>
      <ion-list lines="none" class="playlist-list">

        <ion-item color="transparent">
          <!-- routerLink="/more-tab/tips" -->
          <img class="playlist-pictures" src="assets/images/playlists/girl_meditating.png">
          <ion-label>
            <h2>Calm Down</h2>
            <p>Time to relax and rest</p>
          </ion-label>
        </ion-item>

        <ion-item color="transparent">
          <!-- routerLink="/more-tab/tips" -->
          <img class="playlist-pictures" src="assets/images/playlists/girl_work.png">
          <ion-label>
            <h2>Work & Focus</h2>
            <p>Start enjoying your work again</p>
          </ion-label>
        </ion-item>

        <ion-item color="transparent">
          <!-- routerLink="/more-tab/tips" -->
          <img class="playlist-pictures" src="assets/images/playlists/boy_running.png">
          <ion-label>
            <h2>Moving</h2>
            <p>Move and feel better</p>
          </ion-label>
        </ion-item>

        <ion-item color="transparent">
          <!-- routerLink="/more-tab/tips" -->
          <img class="playlist-pictures" src="assets/images/playlists/landscape.png">
          <ion-label>
            <h2>Ambiente</h2>
            <p>Calm & atmospheric music fitting your mood</p>
          </ion-label>
        </ion-item>

        <ion-item color="transparent">
          <!-- routerLink="/more-tab/tips" -->
          <img class="playlist-pictures" src="assets/images/playlists/girl_sleeping.png">
          <ion-label>
            <h2>Sleep</h2>
            <p>Right atmosphere to fall asleep</p>
          </ion-label>
        </ion-item>

        <ion-item color="transparent">
          <!-- routerLink="/more-tab/tips" -->
            <img class="playlist-pictures" src="assets/images/playlists/boy_free-your-mind.png">
          <ion-label>
            <h2>Free Your Mind</h2>
            <p>Forget your thoughts for some minutes</p>
          </ion-label>
        </ion-item>

      </ion-list>
    </div>

  </ion-content>
</div>