<!-- <ion-menu menuId="playlist-menu" contentId="playlist-settings" side="end">
  <ion-content class="ion-no-padding playlist-menu-content">
    <ion-list class="menu-list" lines="none">
      <ion-item class="menu-items" color="transparent">
        Background
      </ion-item>
      <ion-item class="menu-items" color="transparent">
        Notifications
      </ion-item>
      <ion-item class="menu-items" color="transparent">
        Profile
      </ion-item>
      <ion-item class="menu-items" color="transparent">
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->

<div class="ion-page" id="side-menu-content">
  <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start" id="playlist-edit-profile">
        <ion-icon *ngIf="!profileImage" slot="icon-only" name="person-circle"></ion-icon>
        <img *ngIf="profileImage" [src]="profileImage" class="header-profile-pic">
      </ion-buttons>
      <ion-title>
        Playlists
      </ion-title>
      <ion-buttons slot="primary">
        <ion-menu-button menu="side-menu">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-modal #edit_profile trigger="playlist-edit-profile">
    <ng-template>
      <div class="transparent">
        <app-edit-profile [username]="username"></app-edit-profile>
      </div>
    </ng-template>
  </ion-modal>

  <ion-content [fullscreen]="true" class="main-content">

    <div>
      <ion-list lines="none" class="playlist-list">
        <div *ngFor="let playlist of playlists">
          <ion-item color="red" routerLink="{{ playlist.routerLink }}">
            <img class="playlist-pictures" src="assets/images/playlists/{{ playlist.imageSrc }}">
            <ion-label>
              <h2>{{ playlist.title }}</h2>
              <p>{{ playlist.caption }}</p> 
            </ion-label>
          </ion-item>
        </div>
      </ion-list>
    </div>

  </ion-content>
</div>