<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Getting Sleep</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-container">
    <img src="assets/images/penguins/penguin_sleep.png">
  </div>
  <ion-list lines="none">
    <ion-item color="transparent">
      <div color="transparent">
        <h4>How it works:</h4>
        <h5>Quality sleep is essential for mental health. It allows the brain to process emotions and restore
          cognitive functions.</h5>
      </div>
    </ion-item>
    <ion-item color="transparent">
      <div>
        <h4>Why it works:</h4>
        <h5>Sleep regulates mood, helps in the processing of memories, and reduces emotional reactivity. Poor sleep
          is strongly linked to mental health issues such as anxiety and depression. Ensuring sufficient sleep helps
          stabilize mood, cognitive performance, and emotional well-being.</h5>
      </div>
    </ion-item>
  </ion-list>

  <div class="sources">
    <p>
      Walker, M. P. (2017). Sleep loss and the brain. Neuropsychopharmacology, 45(1), 74-89.<br>
      Harvey, A. G., et al. (2011). Sleep disturbance in psychiatric disorders: Effects on function and quality of life
      in mood disorders, anxiety, and substance abuse. Harvard Review of Psychiatry, 19(6), 373-382.
    </p>
  </div>
</ion-content>