<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>PTSD</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item color="transparent" class="first-item">
      <div color="transparent">
        <h4>What is it?</h4>
        <h5>
          
        </h5>
      </div>
    </ion-item>
    <ion-item color="transparent">
      <div>
        <h4>Symptoms</h4>
        <h5>
          
        </h5>
      </div>
    </ion-item>
    <ion-item color="transparent">
      <div>
        <h4>Edidiomology</h4>
        <h5>

        </h5>
      </div>
    </ion-item>
    <ion-item color="transparent">
      <div>
        <h4>Possible Treatment</h4>
        <h5>
          
        </h5>
      </div>
    </ion-item>
  </ion-list>

  <div class="sources">
    <p>
      
    </p>
  </div>
</ion-content>