<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Eating Disorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item color="transparent" class="first-item">
      <div color="transparent">
        <h4>What is it?</h4>
        <h5>
          Eating disorders include conditions like anorexia nervosa, bulimia nervosa, and binge-eating disorder. These
          involve harmful eating behaviors, often driven by body image concerns or emotional distress.
        </h5>
      </div>
    </ion-item>
    <ion-item color="transparent">
      <div>
        <h4 class="titles">Symptoms</h4>
        <h5>
          <ion-list class="content-list">
            <ul>
              <li>Restrictive eating or overeating</li>
              <li>Obsessive thoughts about weight and body shape</li>
              <li>Frequent purging behaviors (in bulimia) or binge-eating episodes</li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
    <!-- <ion-item color="transparent">
      <div>
        <h4>Edidiomology</h4>
        <h5>

        </h5>
      </div>
    </ion-item> -->
    <ion-item color="transparent">
      <div>
        <h4>Possible Treatment</h4>
        <h5>
          <p class="subtitles">Nutritional Counseling:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Re-establish healthy eating patterns</li>
            </ul>
          </ion-list>
          <p class="subtitles">Cognitive Behavioral Therapy:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Address distorted beliefs about food and body image</li>
            </ul>
          </ion-list>
          <p class="subtitles">Medical Treatment:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Monitoring physical health and managing complications <sup>1</sup></li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
  </ion-list>

  <div class="sources">
    <p>
      [1] Keel, P. K. (2017). Eating disorders. Oxford University Press.
    </p>
  </div>
</ion-content>