<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Breathing Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-container">
    <img src="assets/images/pandas/panda_yoga.png">
  </div>
  <ion-list lines="none">
    <ion-item color="transparent">
      <div color="transparent">
        <h4>How it works:</h4>
        <h5>Breathing exercises help calm the mind and relax the body. They may involve simple, controlled breathing
          techniques like deep inhalation and exhalation.</h5>
      </div>
    </ion-item>
    <ion-item color="transparent">
      <div>
        <h4>Why it works:</h4>
        <h5>Breathing exercises activate the parasympathetic nervous system, which is responsible for rest and
          digestion. This helps slow down the heart rate and relax the muscles, reducing stress and anxiety.</h5>
      </div>
    </ion-item>
  </ion-list>

  <div class="sources">
    <p>
      Jerath, R., et al. (2015). Yogic breathing (pranayama) improves autonomic and psychological function in
      individuals with major depressive disorder: A randomized controlled trial. Journal of Clinical Psychology, 71(6),
      538-550.<br>
      Zaccaro, A., et al. (2018). The effect of slow breathing on the stress response: A meta-analysis. Journal of
      Behavioral Medicine, 41(4), 501-512.
    </p>
  </div>
</ion-content>