<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title>Tips & Tricks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">

    <ion-item color="transparent" button routerLink="/more-tab/tips/stay-calm">
      <ion-row>
        <ion-avatar item-start>
          <img src="assets/images/penguins/penguin_waves.png">
        </ion-avatar>
        <h2>Stay calm</h2>
      </ion-row>
    </ion-item>

    <ion-item color="transparent" button routerLink="/more-tab/tips/concentrate">
      <ion-row>
        <ion-avatar item-start>
          <img src="assets/images/penguins/penguin_waves.png">
        </ion-avatar>
        <h2>Concentrate</h2>
      </ion-row>
    </ion-item>

  </ion-list>
</ion-content>