<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title>Tips & Tricks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">

    <div *ngFor="let tip of allTips">
      <ion-item color="transparent" button routerLink="{{ tip.routerLink }}">
        <ion-row>
          <ion-avatar item-start>
            <img src="{{ tip.image }}">
          </ion-avatar>
          <h2> {{ tip.title }} </h2>
        </ion-row>
      </ion-item>
    </div>

  </ion-list>
</ion-content>