ion-toolbar {

    ion-title {
        color: black;
        font-weight: 600;
    }

    ion-buttons {
        color: black;
        font-size: large;
    }
}

ion-content {
    --background: #CFEEF9;
    --margin-top: 20px;
    --padding-start: 20px;
    --padding-end: 20px;

    ion-list {
        background-color: transparent;
        
        ion-item {
            margin-top: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: grey;
            border-radius: 22px;

            
        }

    }
}