<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Sexual Dysfunction & Paraphilias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item color="transparent" class="first-item">
      <div color="transparent">
        <h4>What is it?</h4>
        <h5>
          Sexual dysfunctions include problems with sexual response, desire, or orgasm. Paraphilic disorders involve
          atypical sexual interests that may cause distress or harm. Gender dysphoria should also be mentioned here. It
          refers to the distress some people feel due to a mismatch between their gender identity and assigned sex.
        </h5>
      </div>
    </ion-item>
    <ion-item color="transparent">
      <div>
        <h4 class="titles">Symptoms</h4>
        <h5>
          <ion-list class="content-list">
            <ul>
              <li>Lack of sexual interest</li>
              <li>Inability to achieve arousal</li>
              <li>Discomfort with one's body and gender role</li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
    <!-- <ion-item color="transparent">
      <div>
        <h4>Edidiomology</h4>
        <h5>

        </h5>
      </div>
    </ion-item> -->
    <ion-item color="transparent">
      <div>
        <h4>Possible Treatment</h4>
        <h5>
          <p class="subtitles">Therapies (CBT or Sex Therapy):</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Addressing emotional and psychological aspects</li>
            </ul>
          </ion-list>
          <p class="subtitles">Hormonal Treatments or Surgeries:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>For gender dysphoria</li>
            </ul>
          </ion-list>
          <p class="subtitles">Medications:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Managing sexual performance issues <sup>1</sup></li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
  </ion-list>

  <div class="sources">
    <p>
      [1] Kafka, M. P. (2000). The paraphilia-related disorders. Principles and practice of sex therapy, 471-503.
    </p>
  </div>
</ion-content>