<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h5>Credits</h5>
  <p>Animated Penguin images designed by catalyststuff on Freepik.</p>
  <p>Playlists images designed by<br>
    <a
      href="https://www.freepik.com/free-vector/organic-flat-people-meditating-illustration_13297285.htm#fromView=search&page=1&position=3&uuid=2a6bad9c-5e54-48c9-8fb9-709149a41c9c">
      freepik</a> on Freepik,<br>
    <a
      href="https://www.freepik.com/free-vector/telecommuting-concept_7402026.htm#fromView=image_search_similar&page=1&position=7&uuid=1750217a-a57b-4b15-a416-ba4cf8031a28">freepik</a>
    on Freepik,<br>
    <a
      href="https://www.freepik.com/free-vector/running-concept-illustration_21532526.htm#fromView=search&page=1&position=31&uuid=1492cf35-2aba-4de7-94bc-35a18f0ab4dc">storyset</a>
    on Freepik,<br>
    <a
      href="https://www.freepik.com/free-vector/landscape-man-canoe-river_41979341.htm#fromView=search&page=1&position=32&uuid=0699048b-50de-45dd-baae-b61563308bf8">studiogstock</a>
    on Freepik,<br>
    <a
      href="https://www.freepik.com/free-vector/cute-girl-sleeping-clipart_30162974.htm#fromView=search&page=2&position=29&uuid=c1779f00-a6b2-4e23-b97d-e8e92161606b">brgfx</a>
    on Freepik,<br>
    <a
      href="https://www.freepik.com/free-vector/boy-mental-health-with-flowers_25516223.htm#fromView=author&page=1&position=9&uuid=5a94aa05-1273-4833-8ef7-502d399d6740">
      gstudioimagen1</a> on Freepik.
  </p>

  <p>Search for Specialist image designed by <a href="https://unsplash.com/de/@brett_jordan?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Brett Jordan</a> 
    on <a href="https://unsplash.com/de/fotos/braune-holzklotze-auf-weisser-flache-g_hBWtgmDWU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>.
  </p>


  <p class="copyright">MindMate Copyright (C) 2024. All rights reserved.</p>

</ion-content>