ion-toolbar {
    background-color: var(--ion-color-secondary);

    ion-title {
        color: black;
        font-weight: 600;
    }

    ion-buttons {
        color: black;
        font-size: large;
    }
}

ion-content {
    --background: #CFEEF9;
    --margin-top: 20px;
    --padding-start: 20px;
    --padding-end: 20px;

    h5, p, .copyright, h6 {
        color: black;
    }

    h5, h6 {
        font-weight: bold;
    }

    h6 {
        margin-bottom: 0;
    }

    p {
        margin-top: 2%;
    }

    .sources {
        font-size: 14px;
    }

    .copyright {
        margin-top: 50px;
        font-size: 12px;
        font-weight: bold;
    }
}