<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h5>Credits</h5>
  <p>Animated Penguin and Panda images designed by <a
      href="https://www.freepik.com/author/catalyststuff">catalyststuff</a> on Freepik.</p>
  <p>Playlists images designed by<br>
    <a
      href="https://www.freepik.com/free-vector/organic-flat-people-meditating-illustration_13297285.htm#fromView=search&page=1&position=3&uuid=2a6bad9c-5e54-48c9-8fb9-709149a41c9c">
      freepik</a> on Freepik,<br>
    <a
      href="https://www.freepik.com/free-vector/telecommuting-concept_7402026.htm#fromView=image_search_similar&page=1&position=7&uuid=1750217a-a57b-4b15-a416-ba4cf8031a28">freepik</a>
    on Freepik,<br>
    <a
      href="https://www.freepik.com/free-vector/running-concept-illustration_21532526.htm#fromView=search&page=1&position=31&uuid=1492cf35-2aba-4de7-94bc-35a18f0ab4dc">storyset</a>
    on Freepik,<br>
    <a
      href="https://www.freepik.com/free-vector/landscape-man-canoe-river_41979341.htm#fromView=search&page=1&position=32&uuid=0699048b-50de-45dd-baae-b61563308bf8">studiogstock</a>
    on Freepik,<br>
    <a
      href="https://www.freepik.com/free-vector/cute-girl-sleeping-clipart_30162974.htm#fromView=search&page=2&position=29&uuid=c1779f00-a6b2-4e23-b97d-e8e92161606b">brgfx</a>
    on Freepik,<br>
    <a
      href="https://www.freepik.com/free-vector/boy-mental-health-with-flowers_25516223.htm#fromView=author&page=1&position=9&uuid=5a94aa05-1273-4833-8ef7-502d399d6740">
      gstudioimagen1</a> on Freepik.
  </p>

  <p>Playlist Calm Down image designed by <a
      href="https://unsplash.com/de/@dingzeyuli?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Dingzeyu
      Li</a> on <a
      href="https://unsplash.com/de/fotos/frau-sitzt-auf-sand-ie8WW5KUx3o?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>.
  </p>
  <p>Playlist Work & Focus image designed by
    <a href="https://unsplash.com/de/@anniespratt?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Annie
      Spratt</a> on <a
      href="https://unsplash.com/de/fotos/frau-die-im-internet-surft-g9KFpAfQ5bc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>.
  </p>
  <p>Playlist Moving image designed by
    <a href="https://unsplash.com/de/@davidhofmann?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">David
      Hofmann</a> on <a
      href="https://unsplash.com/de/fotos/silhouette-einer-frau-die-ballett-tanzt-XmD4gx8jsXE?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>.
  </p>
  <p>Playlist Ambiente image designed by
    <a href="https://unsplash.com/de/@baileyzindel?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Bailey
      Zindel</a> on <a
      href="https://unsplash.com/de/fotos/gewasser-umgeben-von-baumen-NRQV-hBF10M?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>.
  </p>
  <p>Playlist Sleep image designed by
    <a
      href="https://unsplash.com/de/@all_who_wander?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Kinga
      Howard</a> on <a
      href="https://unsplash.com/de/fotos/grayscale-photo-of-sleeping-woman-lying-on-bed-5NzOfwXoH88?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>.
  </p>
  <p>Playlist Free Your Mind image designed by
    <a
      href="https://unsplash.com/de/@pabloheimplatz?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Pablo
      Heimplatz</a> on <a
      href="https://unsplash.com/de/fotos/person-die-auf-dem-hugel-steht-EAvS-4KnGrk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>.
  </p>

  <p>Search for Specialist image designed by <a
      href="https://unsplash.com/de/@brett_jordan?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Brett
      Jordan</a>
    on <a
      href="https://unsplash.com/de/fotos/braune-holzklotze-auf-weisser-flache-g_hBWtgmDWU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>.
  </p><br>




  <h5>Question and Scaling Sources</h5>
  <h6>Daily Questionnaire:</h6>
  <p class="sources">
    • Perceived Stress Scale (PSS): Cohen, S., Kamarck, T., & Mermelstein, R. (1983). "A global measure of perceived
    stress." Journal of Health and Social Behavior, 24(4), 385-396.<br>
    • WHO-5 Well-Being Index: Topp, C. W., Østergaard, S. D., Søndergard, S., & Bech, P. (2015). "The WHO-5 Well-Being
    Index: A systematic review of the literature." Psychiatry Research, 235(2), 301-310.<br>
    • Pittsburgh Sleep Quality Index (PSQI): Buysse, D. J., Reynolds, C. F., Monk, T. H., Berman, S. R., & Kupfer, D. J.
    (1989). "The Pittsburgh Sleep Quality Index: A new instrument for psychiatric practice and research." Psychiatry
    Research, 28(2), 193-213.<br>
    • Generalized Anxiety Disorder 7 (GAD-7): Spitzer, R. L., Kroenke, K., Williams, J. B., & Löwe, B. (2006). "A brief
    measure for assessing generalized anxiety disorder." Archives of Internal Medicine, 166(10), 1092-1097.<br>
    • Daily Functioning Scale: Kessler, R. C., McGonagle, K. A., Schaffler, S. S., & et al. (2003). "The World Health
    Organization Health and Work Performance Questionnaire (HPQ)." Journal of Occupational and Environmental Medicine,
    45(12), 1252-1260.<br>
    • Social Support Questionnaire: Sarason, I. G., Sarason, B. R., Shearin, E. N., & Pierce, G. R. (1987). "Assumptions
    about social support: The case for social support research." Journal of Social and Clinical Psychology, 5(3),
    261-275.<br>
    • Maslach Burnout Inventory (MBI): Maslach, C., Jackson, S. E., & Leiter, M. P. (1996). "Maslach Burnout Inventory."
    In C. Maslach & S. E. Jackson (Eds.), Maslach Burnout Inventory Manual (3rd ed., pp. 191-218). Consulting
    Psychologists Press.<br>
    • Social Satisfaction Scale: Wills, T. A., & Shinar, O. (2000). "Measuring social support." In A. S. K. M. H. S. U.
    B. & P. D. Miller (Eds.), Handbook of Social Support and the Family (pp. 269-309). Springer.<br>
    • Brief Symptom Inventory (BSI): Derogatis, L. R. (1993). "Brief Symptom Inventory (BSI): Administration, scoring,
    and procedures manual." Clinical Psychometric Research.<br>
    • Motivation and Engagement Scale: Schaufeli, W. B., Salanova, M., González-Romá, V., & Bakker, A. B. (2002). "The
    measurement of engagement and burnout: A two sample confirmatory factor analytic approach." Journal of Happiness
    Studies, 3(1), 71-92. <br>
  </p>
  <h6>Weekly Questionnaire:</h6>
  <p class="sources">
    • Patient Health Questionnaire-9 (PHQ-9): Kroenke, K., Spitzer, R. L., & Williams, J. B. W. (2001). "The PHQ-9:
    Validity of a brief depression severity measure." Journal of General Internal Medicine, 16(9), 606-613.<br>
    • Depression Anxiety Stress Scales (DASS): Lovibond, S. H., & Lovibond, P. F. (1995). "The structure of negative
    emotional states: Comparison of the Depression Anxiety Stress Scales (DASS) with the Beck Depression and Anxiety
    Inventories." Behaviour Research and Therapy, 33(3), 335-343.<br>
    • Generalized Anxiety Disorder 7 (GAD-7): Spitzer, R. L., Kroenke, K., Williams, J. B., & Löwe, B. (2006). "A brief
    measure for assessing generalized anxiety disorder." Archives of Internal Medicine, 166(10), 1092-1097.<br>
    • WHO-5 Well-Being Index: Topp, C. W., Østergaard, S. D., Søndergard, S., & Bech, P. (2015). "The WHO-5 Well-Being
    Index: A systematic review of the literature." Psychiatry Research, 235(2), 301-310.<br>
    • Brief Symptom Inventory (BSI): Derogatis, L. R. (1993). "Brief Symptom Inventory (BSI): Administration, scoring,
    and procedures manual." Clinical Psychometric Research.<br>
    • UCLA Loneliness Scale: Russell, D., Peplau, L. A., & Cutrona, C. E. (1980). "The Revised UCLA Loneliness Scale:
    Concurrent and discriminant validity evidence." Journal of Personality and Social Psychology, 39(3), 472-480.<br>
    • Pittsburgh Sleep Quality Index (PSQI): Buysse, D. J., Reynolds, C. F., Monk, T. H., Berman, S. R., & Kupfer, D. J.
    (1989). "The Pittsburgh Sleep Quality Index: A new instrument for psychiatric practice and research." Psychiatry
    Research, 28(2), 193-213.<br>
  </p>
  <h6>Short Questionnaire:</h6>
  <p class="sources">
    • Perceived Control Scale: Lachman, M. E., & Weaver, S. L. (1998). "The sense of control as a moderator of social
    class differences in health and well-being." Journal of Personality and Social Psychology, 74(3), 763-773.<br>
    • Coping Self-Efficacy Scale: Chesney, M. A., Neilands, T. B., Chambers, D. B., Taylor, J. M., & Folkman, S. (2006).
    "A validity and reliability study of the Coping Self-Efficacy Scale." British Journal of Health Psychology, 11(3),
    421-437.<br>
    • UCLA Loneliness Scale: Russell, D. W. (1996). "UCLA Loneliness Scale (Version 3): Reliability, validity, and
    factor structure." Journal of Personality Assessment, 66(1), 20-40.<br>
    • Vitality Scale: Ryan, R. M., & Frederick, C. M. (1997). "On energy, personality, and health: Subjective vitality
    as a dynamic reflection of well-being." Journal of Personality, 65(3), 529-565.<br>
    • Brief Symptom Inventory (BSI): Derogatis, L. R. (1993). "Brief Symptom Inventory (BSI): Administration, scoring,
    and procedures manual." National Computer Systems.<br>
    • Positive and Negative Affect Schedule (PANAS): Watson, D., Clark, L. A., & Tellegen, A. (1988). "Development and
    validation of brief measures of positive and negative affect: The PANAS scales." Journal of Personality and Social
    Psychology, 54(6), 1063-1070.<br>
    • Life Orientation Test (LOT): Scheier, M. F., & Carver, C. S. (1985). "Optimism, coping, and health: Assessment and
    implications of generalized outcome expectancies." Health Psychology, 4(3), 219-247.<br>
  </p><br>

  <h5>Playlist Songs</h5>
  <h6>Calm Down:</h6>
  <div class="music-container">
    <p class="music-sources">
      Calm and Peaceful by <a
        href="https://pixabay.com/de/users/lesfm-22579021/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=115481">Oleksii
        Kaplunskyi</a> <br>
    </p>

    <p class="music-sources">
      Calm Bird, <br>
      Calm Morning by <a
        href="https://pixabay.com/de/users/pianoamor-28628048/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=125568">PianoAmor</a>
      <br>
    </p>

    <p class="music-sources">
      Chandelier (Piano Cover), <br>
      Endless World, <br>
      Just Give Me A Reason (Piano Cover),<br>
      Lonely, <br>
      Everything Works Out In The End (Piano Cover) by <a
        href="https://pixabay.com/de/users/calvinclavier-16027823/">CalvinClavier</a> <br>
    </p>

    <p class="music-sources">
      on <a href="https://pixabay.com/">Pixabay</a>.
    </p>

  </div>

  <h6>Work & Focus:</h6>
  <div class="music-container">
    <p class="music-sources">
      Calm by <a
        href="https://pixabay.com/de/users/lesfm-22579021/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=16213">Oleksii
        Kaplunskyi</a> <br>
    </p>

    <p class="music-sources">
      Lo-Fi Beat (Guitar and Piano), <br>
      No More Stars, <br>
      Reading by <a href="https://pixabay.com/de/users/calvinclavier-16027823/">CalvinClavier</a> <br>
    </p>

    <p class="music-sources">
      Close, <br>
      Mars by <a href="https://pixabay.com/de/users/soulprodmusic-30064790/">Oleg Fedak</a> <br>
    </p>

    <p class="music-sources">
      Chill Lofi Instrumental, <br>
      Lo-Fi Instrumental by <a href="https://pixabay.com/de/users/nickpanek620-38266323/">Nicholas Panek</a> <br>
    </p>

    <p class="music-sources">
      on <a href="https://pixabay.com/">Pixabay</a>.
    </p>
  </div><br>

  <h6>Moving:</h6>
  <div class="music-container">
    <p class="music-sources">
      Energizante Motivation by <a href="https://pixabay.com/de/users/teodholina-32752748/">teodholina</a> <br>
    </p>

    <p class="music-sources">
      Gentle Move by <a href="https://pixabay.com/de/users/monument_music-34040748/">Oleksii Holubiev</a> <br>
    </p>

    <p class="music-sources">
      Happy Motivation Project by <a href="https://pixabay.com/de/users/good_b_music-22836301/">Zakhar Valaha</a> <br>
    </p>

    <p class="music-sources">
      Inspiring by <a href="https://pixabay.com/de/users/u_hzqs9i5v4q-33949801/">u_hzqs9i5v4q</a> <br>
    </p>

    <p class="music-sources">
      Motivation by <a href="https://pixabay.com/de/users/jeremusic70-25199461/">Jeremiah Alves</a> <br>
    </p>

    <p class="music-sources">
      Motivation by <a href="https://pixabay.com/de/users/onetent-15616180/">Shakib Hasan</a> <br>
    </p>

    <p class="music-sources">
      Motivational Sport Trailer by <a href="https://pixabay.com/de/users/soundgallerybydmitrytaras-11640913/">Dmitry
        Taras</a> <br>
    </p>

    <p class="music-sources">
      Move by <a href="https://pixabay.com/de/users/re_clout-3745838/">Re_clout</a> <br>
    </p>

    <p class="music-sources">
      Move Your Vibe by <a href="https://pixabay.com/de/users/alisiabeats-39461785/">Alisia</a> <br>
    </p>

    <p class="music-sources">
      Trap Future Bass by <a href="https://pixabay.com/de/users/royaltyfreemusic-29393722/">Nver Avetyan</a> <br>
    </p>

    <p class="music-sources">
      Work Out by <a href="https://pixabay.com/de/users/soundgallerydt-40595064/">Dmitry</a> <br>
    </p>

    <p class="music-sources">
      on <a href="https://pixabay.com/">Pixabay</a>.
    </p>
  </div> <br>

  <h6>Ambiente:</h6>
  <div class="music-container">
    <p class="music-sources">
      Autumn Fall, <br>
      Autumn Rain Piano, <br>
      Lost in Reverie, <br>
      Rainy Day, <br>
      Nighfall, <br>
      Where Is My Mind (Ambient Piano) by <a
        href="https://pixabay.com/de/users/calvinclavier-16027823/">CalvinClavier</a> <br>
    </p>

    <p class="music-sources">
      Deep Ambient (60s Version) by <a href="https://pixabay.com/de/users/lesfm-22579021/">Oleksii Kaplunskyi</a> <br>
    </p>

    <p class="music-sources">
      Distanced Ambient by <a href="https://pixabay.com/de/users/samuelfjohanns-1207793/">Samuel F. Johanns</a> <br>
    </p>

    <p class="music-sources">
      Mild Heaven by <a href="https://pixabay.com/de/users/universfield-28281460/">UNIVERSFIELD</a> <br>
    </p>

    <p class="music-sources">
      Motivational Electronic by <a href="https://pixabay.com/de/users/alex-productions-32020823/">Alex
        Cristoforetti</a> <br>
    </p>

    <p class="music-sources">
      Peaceful Ambient New Age by <a href="https://pixabay.com/de/users/lfc_records-19410400/">LFC Records</a> <br>
    </p>

    <p class="music-sources">
      Relax Meditation Ambient by <a href="https://pixabay.com/de/users/tazdev_music-37475890/">Ilya Myagkov</a> <br>
    </p>

    <p class="music-sources">
      on <a href="https://pixabay.com/">Pixabay</a>.
    </p>
  </div> <br>

  <h6>Sleep:</h6>
  <div class="music-container">
    <p class="music-sources">
      Crescent Moon, <br>
      Melancholy by <a href="https://pixabay.com/de/users/tomomi_kato-23634083/">Tomomi Kato</a> <br>
    </p>

    <p class="music-sources">
      Dawn Break by <a href="https://pixabay.com/de/users/tech_oasis-43881167/">Tech Oasis</a> <br>
    </p>

    <p class="music-sources">
      Dreamland Lullaby Feelings by <a href="https://pixabay.com/de/users/freesoundserver-31221933/">Free Sound
        Server</a> <br>
    </p>

    <p class="music-sources">
      Fall Asleep, <br>
      Goodnight by <a href="https://pixabay.com/de/users/calvinclavier-16027823/">CalvinClavier</a> <br>
    </p>

    <p class="music-sources">
      Night Sky by <a href="https://pixabay.com/de/users/lofcosmos-36957151/">Lof Cosmos</a> <br>
    </p>

    <p class="music-sources">
      Peaceful Sleep by <a href="https://pixabay.com/de/users/good_b_music-22836301/">Zakhar Valaha</a> <br>
    </p>

    <p class="music-sources">
      Sleep by <a href="https://pixabay.com/de/users/teodholina-32752748/">teodholina</a> <br>
    </p>

    <p class="music-sources">
      on <a href="https://pixabay.com/">Pixabay</a>.
    </p>
  </div> <br>

  <h6>Free Your Mind:</h6>
  <div class="music-container">
    <p class="music-sources">
      Echoes of the Night Dusk by <a href="https://pixabay.com/de/users/freesoundserver-31221933/">Free Sound Server</a>
      <br>
    </p>

    <p class="music-sources">
      Emotional Piano Music, <br>
      I Giorni,
      Mia & Sebastian x Je Te Laisserai Des Mots (Piano Cover),
      Una Luna,
      Van Gogh - Calm and Sad (Piano Cover) by <a
        href="https://pixabay.com/de/users/calvinclavier-16027823/">CalvinClavier</a> <br>
    </p>

    <p class="music-sources">
      Forgiveness by <a href="https://pixabay.com/de/users/magnetic_trailer-27466606/">Magnetic_Trailer</a> <br>
    </p>

    <p class="music-sources">
      Movement of Live by <a href="https://pixabay.com/de/users/oleksii_kalyna-39191707/">Oleksii Kalyna</a> <br>
    </p>

    <p class="music-sources">
      Slow Focus and Meditation by <a href="https://pixabay.com/de/users/music_for_videos-26992513/">Anastasia Kir</a> <br>
    </p>

    <p class="music-sources">
      Sunrise by <a href="https://pixabay.com/de/users/nakaradaalexander-7260388/">Alexander Nakarada</a> <br>
    </p>

    <p class="music-sources">
      on <a href="https://pixabay.com/">Pixabay</a>.
    </p>
  </div> <br>



  <p class="copyright">MindMate Copyright (C) 2024. All rights reserved.</p>

</ion-content>