<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title>Disclaimer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="headlines">Important Notice</p>
  <p>The use of this app does not replace professional psychological or psychiatric advice, diagnosis, or treatment. The
    content and interventions provided here are for informational and self-help purposes only and should not be
    considered a substitute for advice from a qualified healthcare provider</p>

  <p class="headlines space-headlines">No Emergency Services</p>
  <p>This app is not suitable for use in emergencies or crisis situations. If you or someone you know is in an acute
    crisis, please seek professional help immediately. Contact emergency services, your doctor, or another qualified
    healthcare professional.</p>

  <p class="headlines space-headlines">Liability Disclaimer</p>
  <p>The developers and operators of this app are not liable for any direct or indirect damages resulting from the use
    or inability to use the app. This includes, without limitation, damages resulting from reliance on the accuracy or
    timeliness of the provided content.</p>

  <p class="headlines space-headlines">Individual Results May Vary</p>
  <p>The results and effectiveness of the interventions suggested in this app may vary from person to person. There is
    no guarantee that using the app will lead to an improvement in your mental health.</p>

  <p class="headlines space-headlines">Privacy</p>
  <p>We highly value the protection of your data and privacy. Please read our Privacy Policy to understand how your data
    is collected, used, and protected.</p>

  <p class="headlines space-headlines">Changes and Updates</p>
  <p>We reserve the right to make changes and updates to this app and the content contained therein at any time. It is
    your responsibility to stay informed about the latest information and changes.
    By using this app, you confirm that you have read and understood this disclaimer and agree to its terms and
    conditions.</p>

</ion-content>