<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Depression</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item color="transparent" class="first-item">
      <div color="transparent">
        <h4>What is it?</h4>
        <h5>
          Depression describes a condition in which symptoms such as sadness, melancholy or listlessness persist for at
          least two weeks. These can be caused by stressful events, such as diseases or social stress. In addition to a
          dejected and sad mood, people affected also experience a loss of pleasure and interest in common activities.
          Major depression can also lead to loss of appetite, sleep disorders, loss of self-esteem and suicidal thoughts
          or actions.
        </h5>
        <div class="image-container">
          <img src="assets/images/mindpedia/depression_comic_eng.png">
        </div>
      </div>
    </ion-item>

    <ion-item color="transparent">
      <div>
        <h4 class="titles">Symptoms</h4>
        <h5>
          <p class="subtitles">Emotional Symptoms:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Sadness</li>
              <li>Dejection</li>
              <li>Anxiety</li>
              <li>Melancholy</li>
            </ul>
          </ion-list>
          <p class="subtitles">Cognitive Symptoms:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Pondering</li>
              <li>Pessimism</li>
              <li>Negative thoughts</li>
              <li>Suicidal thoughts</li>
            </ul>
          </ion-list>
          <p class="subtitles">Physiological-vegetative Symptoms:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Lack of energy</li>
              <li>Tiredness</li>
              <li>Listlessness</li>
              <li>Loss of appetite</li>
            </ul>
          </ion-list>
          <p class="subtitles">Behavioral / motoric Symptoms:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Slowed speech and motor skills</li>
              <li>Low activity rate</li>
              <li>Avoidance of eye contact</li>
              <li>Suicidal actions</li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>

    <ion-item color="transparent">
      <div>
        <h4>Epidemiology <h5 class="caption">(= incidence of diseases in the population)</h5>
        </h4>
        <h5>
          <p class="subtitles">Progression:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Major Depression:
                <ul class="ul-subitem">
                  <li class="subitem">Variable start: acute or gradual over weeks or months</li>
                  <li class="subitem">Untreated first episode: 3-4 months until remission <sup>2</sup></li>
                  <li class="subitem">1/3 of people affected: only one episode, 1/3: relapsing progression with complete
                    remission, 1/3: chronic and long-term progression without or partial/short-term remission
                    <sup>3</sup>
                  </li>
                </ul>
              </li>
              <li>Dysthymia:
                <ul class="ul-subitem">
                  <li class="subitem">Gradual start</li>
                  <li class="subitem">Early onset, if before the age of 21</li>
                  <li class="subitem">Chronic and long-term progression with possible spontaneous remission (10%)</li>
                  <li class="subitem">Major Depression develops in 75% of cases</li>
                </ul>
              </li>
            </ul>
          </ion-list>
          <p class="subtitles">Risk Factors:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Genetics:
                <ul class="ul-subitem">
                  <li class="subitem">2-4 times increased risk <sup>4</sup></li>
                </ul>
              </li>
              <li>Age:
                <ul class="ul-subitem">
                  <li class="subitem">Childhood to mid-adulthood: low risk</li>
                  <li class="subitem">Mid-adulthood to a high adult age: risk increases steadily <sup>2</sup><sup>
                      5</sup></li>
                </ul>
              </li>
              <li>Gender:
                <ul class="ul-subitem">
                  <li class="subitem">Women twice as high risk as men</li>
                </ul>
              </li>
              <li>Marital Status:
                <ul class="ul-subitem">
                  <li class="subitem">Divorced, separated, widowed: very high risk</li>
                </ul>
              </li>
              <li>Socio-economic (= education, income, occupation) Status:
                <ul class="ul-subitem">
                  <li class="subitem">Low socio-economic status: high risk <sup>6</sup><sup> 7</sup></li>
                </ul>
              </li>
              <li>Geographical Region:
                <ul class="ul-subitem">
                  <li class="subitem">City vs. Country: almost equal risk <sup>8</sup><sup> 9</sup><sup> 7</sup></li>
                </ul>
              </li>
              <li>Life Events:
                <ul class="ul-subitem">
                  <li class="subitem">Psychosocial stress factors (e.g. death of a loved one, loss incident): high risk
                    <sup>10</sup>
                  </li>
                  <li class="subitem">Early onset, if before the age of 21</li>
                </ul>
              </li>
              <li>Comorbidity:
                <ul class="ul-subitem">
                  <li class="subitem">Anxiety disorders: 50-60% <sup>11</sup></li>
                  <li class="subitem">Behavioral, eating, personality and emotional disorders, ADHD: very high risk</li>
                  <li class="subitem">Physical diseases: high risk <sup>12</sup></li>
                </ul>
              </li>
            </ul>
          </ion-list>
          <p class="subtitles">Additional Info:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>2.4 billion (456 million in Europe <sup>13</sup>) people diagnosed with Depression</li>
              <li>Lifetime prevalence (= cases of illness in a lifetime): 30% Depression, 15-20% Major Depression, 4.5%
                Dysthymia <sup>14</sup><sup> 15</sup></li>
              <li>Highest incidence at the age of 25-35 <sup>5</sup><sup> 15</sup></li>
              <li>Higher risk of suicide and mortality with depressive disease
                <ul class="ul-subitem">
                  <li class="subitem">50% with Major Depression: suicidal thoughts</li>
                  <li class="subitem">over 10% with Major Depression: suicide attempt <sup>15</sup></li>
                  <li class="subitem">15% with Major Depression: death by suicide <sup>3</sup></li>
                </ul>
              </li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
    <ion-item color="transparent">
      <div>
        <h4>Possible Treatment</h4>
        <h5>
          <p class="subtitles">Pharmacological / somatic Therapy:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Goal: acute alleviation through to remission</li>
              <li>Administration of medication such as Antidepressants or Antipsychotics</li>
            </ul>
          </ion-list>
          <p class="subtitles">Psychological Therapies:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Behavioral Therapy: treatment and modification of pathological behavior</li>
              <li>Cognitive Therapy: Detection and modification of negative thoughts and thought processes</li>
              <li>Duration: about 3-9 months (possibly longer) <sup>16</sup></li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
  </ion-list>

  <div class="sources">
    <p>
      [1] American Psychiatric Association (APA). (2015). Diagnostisches und Statistisches Manual Psychischer Störungen
      - DSM-5 (deutsche Ausgabe herausgegeben von Peter Falkai und Hans-Ulrich Wittchen, mitherausgegeben von Manfred
      Döpfner, Wolfgang Gaebel, Wolfgang Maier, Winfried Rief, Henning Saß und Michael Zaudig). Göttingen: Hogrefe.<br>
      [2] Beesdo, K., Pine, D. S., Lieb, R., & Wittchen, H.-U. (2010). Incidence and risk patterns of anxiety and
      depressive disorders and categorization of Generalized Anxiety Disorder. Archives of General Psychiatry, 67(1),
      47-57.<br>
      [3] Paykel, E. S., Brugha, T., & Fryers, T. (2005). Size and burden of depressive disorders in Europe. European
      Neuropsychopharmacology, 15, 411-423<br>
      [4] Kendler, K. S., Walters, E. E., Neale, M. C., Kessler, R. C., Heath, A. C., & Eaves, L. J. (1995). The
      structure of the genetic and environmental riskfactors for six major psychiatric disorders in women. Archives of
      General Psychiatry, 52(5), 374-383.<br>
      [5] Kessler, R. C., Petukhova, M., Sampson, N. A., Zaslavsky, A. M., & Wittchen, H. U. (2012). Twelve-month and
      lifetime prevalence and lifetime morbid risk of anxiety and mood disorders in the United States. International
      Journal of Methods in Psychiatric Research, 21(3), 169-184.<br>
      [6] Kessler, R. C., Berglund, P., Demler, O., Jin, R., Koretz, D., Merikangas, K. R., Rush, A. J., Walters, E. E.,
      & Wang, P. S. (2003). The epidemiology of major depressive disorder. Results from the National Comorbidity Survey
      Replication (NCS-R). Journal of the American Medical Association, 289(23), 3095-3105.<br>
      [7] Jacobi, F., Hofer, M., Siegert, J., Mack, S., Gerschler, A., Scholl, L., Busch, M. A., Hapke, U., Maske, U.,
      Seiffert, I., Gaebel, W., Maier, W., Wagner, M., Zielasek, J., & Wittchen, H. U. (2014a). Twelve-month prevalence,
      comorbidity and correlates of mental disorders in Germany: The Mental Health Module of the German Health Interview
      and Examination Survey for Adults (DEGS1-MH). International Journal of Methods in Psychiatric Research, 23(3),
      304-319.<br>
      Jacobi, F., Höfer, M., Strehle, J., Mack, S., Gerschler, A., Scholl, L., Busch, M.A., Maske, U., Hapke, U.,
      Gaebel, W., Maier, W., Wagner, M., Zielasek, J. & Wittchen, H.-U. (2014b). Psychische Störungen in der
      Allgemeinbevölkerung. Studie zur Gesundheit Erwachsener in Deutschland und ihr Zusatzmodul „Psychische Gesundheit“
      (DEGS1-MH). Der Nervenarzt 85(1): 77-87.<br>
      [8] Alonso, J., Angermeyer, M. C., Bernert, S., Bruffaerts, R., Brugha, T. S., Bryson, H., et al. (2004).
      Prevalence of mental disorders in Europe: Results from the European Study of the Epidemiology of Mental Disorders
      (ESEMeD) project. Acta Psychiatrica Scandinavica, 109(Suppl. 420), 21-27.<br>
      [9] Patten, S. B., Stuart, H. L., Russell, M. L., Maxwell, C. J., & Arboleda-Flórez, J. (2003). Epidemiology of
      major depression in a predominantly rural health region. Social Psychiatry and Psychiatric Epidemiology, 38(7),
      360-365.<br>
      [10] Asselmann, E., Wittchen, H.-U., Lieb, R., Höfer, M., & Beesdo-Baum, K. (2015). Danger and loss events and the
      incidence of anxiety and depressive disorders: A prospective-longitudinal community study of adolescents and young
      adults. Psychological Medicine, 45(1), 153-163.<br>
      [11] Beesdo-Baum, K., Knappe, S., Asselmann, E., Zimmermann, P., Brückl, T., Höfer, M., Behrendt, S., Lieb, R., &
      Wittchen, H.- U. (2015). The 'Early Developmental Stages of Psychopathology (EDSP) study': A 20 year review of
      methods and fndings. Social Psychiatry and Psychiatric Epidemiology, 50(6), 851-866.<br>
      [12] Pieper, L., Schulz, H., Klotsche, J., Eichler, T., & Wittchen, H.-U. (2008). Depression als komorbide Störung
      in der primärärztlichen Versorgung. Bundesgesundheitsblatt Gesundheitsforschung Gesundheitsschutz, 4(51), 411-421.
      <br>
      [13] James, S. L., Abate, D., Abate, K. H., Abay, S. M., Abbafati, C., Abbasi, N. et al. (2018). Global, regional,
      and national incidence, prevalence, and years lived with disability for 354 diseases and injuries for 195
      countries and territories, 1990-2017: a systematic analysis for the Global Burden of Disease Study 2017. Lancet,
      392(10159), 1789-1858.<br>
      [14] Vandeleur, C. L., Fassassi, S., Castelao, E., Glaus, J., Strippoli, M. F., Lasserre, A. M., Rudaz, D.,
      Gebreab, S., Pistis, G., Aubry, J. M., Angst, J., & Preisig, M. (2017). Prevalence and correlates of DSM-5 major
      depressive and related disorders in the community. Psychiatry Res, 250, 50-58.<br>
      [15] Hasin, D. S., Sarvet, A. L., Meyers, J. L., Saha, T. D., Ruan, W. J., Stohl, M., & Grant, B. F. (2018).
      Epidemiology of Adult DSM-5 Major Depressive Disorder and Its Specifers in the United States. JAMA Psychiatry,
      75(4), 336-346.<br>
      [16] DGPPN, BÄK, KBV, AWMF (Hrsg.) für die Leitliniengruppe Unipolare Depression*. S3-Leitlinie und Nationale
      VersorgungsLeitlinie Unipolare Depression - Langfassung (2. Auf.). Version 5. 2015 [cited: 2018-09-30]. 7
      https://doi.org/10.6101/azq/000364. 7 www.depression.versorgungsleitlinien.de.
    </p>
  </div>
</ion-content>