<form [formGroup]="signUpForm">
  <ion-item lines="none" class="ion-margin-horizontal ion-margin-top textfield">
    <ion-button slot="start" fill="clear" color="medium">
      <ion-icon slot="icon-only" name="mail"></ion-icon>
    </ion-button>
    <ion-input labelPlacement="floating" label="Email" type="email" formControlName="email"
      placeholder="Enter Email here" errorText="Email is not correct">
      <div slot="label">Email</div>
    </ion-input>
  </ion-item>

  <ion-item lines="none" class="ion-margin">
    <ion-button slot="start" fill="clear" color="medium">
      <ion-icon slot="icon-only" name="lock-closed"></ion-icon>
    </ion-button>
    <ion-input labelPlacement="floating" label="Password" [type]="isPwd ? 'text' : 'password'"
      formControlName="password" placeholder="Enter Password here"
      [errorText]="signUpForm!.get('password')!.hasError('minlength') ? 'Password is too short' : 'Enter a proper Password'">
    </ion-input>
    <ion-button slot="end" fill="clear" color="dark" (click)="togglePwd()">
      <ion-icon class="pwd-eye" slot="icon-only" [name]="isPwd ? 'eye-off' : 'eye'"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item lines="none" class="ion-margin">
    <ion-button slot="start" fill="clear" color="medium">
      <ion-icon slot="icon-only" name="lock-closed"></ion-icon>
    </ion-button>
    <ion-input labelPlacement="floating" label="Confirm Password" [type]="isConfirmPwd ? 'text' : 'password'"
      formControlName="confirmPassword" placeholder="Confirm Password here" errorText="FFFFF"
      [errorText]="signUpForm!.get('confirmPassword')!.hasError('notMatching') && signUpForm.get('confirmPassword')!.touched ? 
      'Passwords do not match' 
      : 'Please confirm Password'">
    </ion-input>
    <ion-button slot="end" fill="clear" color="dark" (click)="toggleConfirmPwd()">
      <ion-icon class="pwd-eye" slot="icon-only" [name]="isConfirmPwd ? 'eye-off' : 'eye'"></ion-icon>
    </ion-button>
  </ion-item>

  <div class="ion-margin submit" (click)="onSubmit()">
    <ion-button expand="block" size="large" shape="round">
      <ion-text color="dark">
        <strong>Sign Up</strong>
      </ion-text>
    </ion-button>
  </div>
</form>