<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="close"></ion-back-button>
    </ion-buttons>
    <ion-title>Search for Specialists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p class="question">Where do you live?</p>
  <ion-input 
    placeholder="Enter Name of Home Place" 
    [clearInput]="true" 
    fill="outline" 
    shape="round"
    [(ngModel)]="locationInput">
  </ion-input>
  
  
  <p class="question">What are you searching for?
    <ion-icon
      name="information-circle-outline"
      class="info-icon"
      (click)="openInfoModal()">
    </ion-icon>
  </p>
  
  <ion-select 
    interface="popover" 
    placeholder="Select" 
    [(ngModel)]="selectedType"
    [interfaceOptions]="{'cssClass': 'popover'}">
    <ion-select-option *ngFor="let type of types" [value]="type.display"> {{ type.display }} </ion-select-option>
  </ion-select>
  <ion-modal
    #infoModal
    [cssClass]="'info-modal'">
    <ng-template>
      <app-specialists-info></app-specialists-info>
    </ng-template>
  </ion-modal>

  <ion-button mode="ios" shape="round" type="submit" expand="block" (click)="openGoogleSearch()">
    Search
    <ion-icon slot="end" name="logo-google"></ion-icon>
  </ion-button>

  <img src="assets/images/more/start-making-changes.png" class="changes-image" alt="Start making Changes">

</ion-content>