ion-toolbar {
    background-color: #CFEEF9;

    ion-title {
        color: black;
        font-weight: 600;
    }

    ion-buttons {
        color: black;
        font-size: large;
    }
}

ion-content {
    --background: #CFEEF9;
    --margin-top: 20px;
    --padding-start: 20px;
    --padding-end: 20px;

    p, ion-input, ion-select {
        color: black;
    }

    p, ion-select {
        font-weight: bold;
        font-size: large;
        margin: 1vh 1.5vh;
        margin-top: 3vh;
    }

    ion-select {
        margin-top: 1vh;
    }

    ion-input {
        margin-bottom: 6vh;
    }

    ion-button {
        color: azure;
        margin-top: 6vh;
    }

    img {
        margin-top: 100px;
    }

}