<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Obsessive Compulsive Disorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item color="transparent" class="first-item">
      <div color="transparent">
        <h4>What is it?</h4>
        <h5>
          The lives of people with OCD are characterised by everyday obsessive thoughts and actions. Such thoughts often
          trigger fear and anxiety. In order to neutralise these imagined dangers, affected people perform adapted,
          typically exaggerated actions.
        </h5>
        <div class="image-container">
          <img src="assets/images/mindpedia/ocd_comic_eng.png">
        </div>
      </div>
    </ion-item>

    <ion-item color="transparent">
      <div>
        <h4>Symptoms</h4>
        <h5>
          <p class="subtitles">Obsessive Thoughts:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Intrusive, recurring and uncomfortable thoughts or impulses</li>
              <li>Exaggerated content of thoughts leads to fear, anxiety, shame or disgust</li>
              <li>Thoughts are often about possible dangers</li>
              <li>People affected usually know that the thought is their own and exaggerated</li>
              <li>People affected therefore tend to ignore or suppress these thoughts</li>
            </ul>
          </ion-list>
          <p class="subtitles">Compulsive Behavior:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Is performed as a reaction to the obsessive thoughts</li>
              <li>Is used to avert danger or reduce discomfort (e.g. excessive washing, tidying)</li>
              <li>Actions are typically exaggerated and have an impact on the affected person's life (mainly due to the
                amount of time required, e.g. repeatedly washing hands to make sure they are not contaminated)</li>
            </ul>
          </ion-list>
          <p class="subtitles">Avoidance Behavior:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Avoiding situations that may cause obsessive thoughts or actions</li>
            </ul>
          </ion-list>
          <p class="subtitles">Reassurance Behavior:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Passing on responsibility to involved persons (e.g. other person locks door)</li>
              <li>Calming by involved persons (e.g. reassuring that no one was injured while driving)</li>
            </ul>
          </ion-list>
          <p class="subtitles">Neutralization:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Is performed in thoughts or behavior</li>
              <li>Is used to equalise or eliminate insecurities (e.g. suppressing thoughts or distraction) <sup>1</sup>
              </li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>

    <ion-item color="transparent">
      <div>
        <h4>Epidemiology <h5 class="caption">(= incidence of diseases in the population)</h5>
        </h4>
        <h5>
          <p class="subtitles">Progression:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Progression-Start:
                <ul class="ul-subitem">
                  <li class="subitem">Mostly: gradual start</li>
                  <li class="subitem">Rarely: acute onset of symptoms in childhood <sup>2</sup><sup> 3</sup> </li>
                </ul>
              </li>
              <li>Chronic progression with a duration of 9-10 years</li>
              <li>Early onset, if at the age of about 11 years</li>
              <li>Late onset, if at the age of approx. 23 years: higher symptom severity than early
                onset <sup>2</sup></li>
              <li>Up to 90%: other comorbid (= concurrent) disorder (e.g. anxiety disorder,
                affective disorder) <sup>4</sup></li>
            </ul>
          </ion-list>
          <div class="image-container-2">
            <img src="assets/images/mindpedia/ocd_progression.png">
          </div>

          <p class="subtitles">Risk Factors:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Genetics:
                <ul class="ul-subitem">
                  <li class="subitem">Heredity: about 48% <sup>5</sup></li>
                  <li class="subitem">Inheritance through person with early onset of disease: 32.5 times increased risk
                    <sup>6</sup>
                  </li>
                  <li class="subitem">Inheritance through person with late onset of disease: 5 times increased risk
                    <sup>7</sup>
                  </li>
                </ul>
              </li>
              <li>Environmental Risk Factors:
                <ul class="ul-subitem">
                  <li class="subitem">Complications at birth (e.g. low birth weight): high risk</li>
                  <li class="subitem">Experiencing critical life events (e.g. family problems): possible high risk</li>
                  <li class="subitem">Advanced parental age: possible high risk <sup>8</sup></li>
                  <li class="subitem">Certain infections: high risk <sup>9</sup></li>
                </ul>
              </li>
              <li>Psychological Risk Factors:
                <ul class="ul-subitem">
                  <li class="subitem">Change of information processing (e.g. perfectionism, overestimation of danger and
                    thoughts) <sup>10</sup></li>
                  <li class="subitem">Psychodynamic Theories: dysfunctional defence mechanisms such as reaction
                    formation <sup>11</sup></li>
                  <li class="subitem">Origin of contents of obsessive thoughts: Majority reports similar evolutionarily
                    influenced survival strategies <sup>12</sup></li>
                  <li class="subitem">Cognitive-behavioural Theories: neutral stimulus triggers fear and thus avoidance
                    behaviour is developed <sup>13</sup></li>
                </ul>
              </li>
            </ul>
          </ion-list>

          <p class="subtitles">Additional Info:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>184 million (107.2 million in Europe) people diagnosed with OCD</li>
              <li>Lifetime prevalence (= cases of illness in a lifetime): 2.3% <sup>4</sup></li>
              <li>Highest incidence on average at the age of 19.5 years (and before the age of 35) <sup>2</sup></li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>

    <ion-item color="transparent">
      <div>
        <h4>Possible Treatment</h4>
        <h5>
          <p class="subtitles">Cognitive Behavioral Therapy:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Psychoeducation:
                <ul class="ul-subitem">
                  <li class="subitem">Patient is informed in detail about the disorder</li>
                  <li class="subitem">A disorder model can be used to analyse the connection between obsessive thoughts
                    and actions, in combination with the maintenance of the disorder</li>
                </ul>
              </li>
              <li>Exposure with Reaction Prevention:
                <ul class="ul-subitem">
                  <li class="subitem">Collecting the situations that trigger obsessive thoughts and actions</li>
                  <li class="subitem">Hierarchical assessment of the difficulty of coping</li>
                  <li class="subitem">Confrontation with triggers of obsessive thoughts without being able to perform countermeasures (e.g. avoidance, neutralisation) <sup>14</sup></li>
                </ul>
              </li>
              <li>Treatment of Dysfunctional Judgements:
                <ul class="ul-subitem">
                  <li class="subitem">Changing the way of dealing with one's own thoughts and controlling them</li>
                  <li class="subitem">Through behavioural experiments (e.g. thought experiment with obsessive thoughts) the thought is questioned and changed <sup>15</sup></li>
                </ul>
              </li>
            </ul>
          </ion-list>
          <p class="subtitles">Drug Therapy:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Administration of Selective serotonin reuptake inhibitors (SSRIs) <sup>16</sup></li>
              <li>Augmentation in antipsychotic medication possible if SSRI is insufficient or does not help at all
                <sup>17</sup>
              </li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
  </ion-list>

  <div class="sources">
    <p>
      [1] American Psychiatric Association (APA). (2015). Diagnostisches und Statistisches Manual Psychischer Störungen
      - DSM-5 (deutsche Ausgabe herausgegeben von Peter Falkai und Hans-Ulrich Wittchen, mitherausgegeben von Manfred
      Döpfner, Wolfgang Gaebel, Wolfgang Maier, Winfried Rief, Henning Saß und Michael Zaudig). Göttingen: Hogrefe.<br>
      [2] Taylor, S. (2011). Early versus late onset obsessive-compulsive disorder: Evidence for distinct subtypes.
      Clinical Psychology Review, 31, 1083-1100.<br>
      [3] Swedo, S. E., Leonard, H. L., Garvey, M., Mittleman, B., Allen, A. J., Perlmutter, S., et al. (1998).
      Pediatric autoimmune neuropsychiatric disorders associated with streptococcal infections: clinical description of
      the frst 50 cases. American Journal of Psychiatry, 155, 264-271.<br>
      [4] Ruscio, A. M., Stein, D. J., Chiu, W. T., & Kessler, R. C. (2010). The epidemiology of obsessive-compulsive
      disorder in the National Comorbidity Survey Replication. Mol Psychiatry, 15, 53-63.<br>
      [5] Monzani, B., Rijsdijk, F., Harris, J., & Mataix-Cols, D. (2014). The structure of genetic and environmental
      risk factors for dimensional representations of DSM-5 obsessive-compulsive spectrum disorders. JAMA Psychiatry,
      71, 182-189.<br>
      [6] do Rosario-Campos, M. C., Leckman, J. F., Curi, M., Quatrano, S., Katsovitch, L., Miguel, E. C., & Pauls, D.
      L. (2005). A family study of early-onset obsessive-compulsive disorder. American Journal of Medical Genetics Part
      B-Neuropsychiatric Genetics, 136b, 92-97.<br>
      [7] Nestadt, G., Samuels, J., Riddle, M., Bienvenu, O. J., Liang, K. Y., LaBuda, M., et al. (2000). A family study
      of obsessive-compulsive disorder. Archives of General Psychiatry, 57, 358-363.<br>
      [8] Brander, G., Perez-Vigil, A., Larsson, H., & Mataix-Cols, D. (2016). Systematic review of environmental risk
      factors for obsessive-compulsive disorder: A proposed roadmap from association to causation. Neuroscience and
      Biobehavioral Reviews, 65, 36-62.<br>
      [9] Murphy, T. K., Storch, E. A., Lewin, A. B., Edge, P. J., & Goodman, W. K. (2012). Clinical factors associated
      with pediatric autoimmune neuropsychiatric disorders associated with streptococcal infections. Journal of
      Pediatrics, 160, 314-319.<br>
      [10] Steketee, G., Frost, R., Amir, N., Bouvard, M., Carmin, C., Clark, D. A., et al. (2001). Development and
      initial validation of the obsessive beliefs questionnaire and the interpretation of intrusions inventory.
      Behaviour Research and Therapy, 39, 987-1006. <br>
      [11] Moritz, S., Kempke, S., Luyten, P., Randjbar, S., & Jelinek, L. (2011). Was Freud partly right on
      obsessive-compulsive disorder (OCD)? Investigation of latent aggression in OCD. Psychiatry Research, 187,
      180-184.<br>
      [12] Feygin, D. L., Swain, J. E., & Leckman, J. F. (2006). The normalcy of neurosis: Evolutionary origins of
      obsessive-compulsive disorder and related behaviors. Progress in Neuro-Psychopharmacology & Biological Psychiatry,
      30, 854-864.
      <br>
      [13] Dollard, J., & Miller, N. E. (1950). Personality and psychotherapy; an analysis in terms of learning,
      thinking, and culture. New York: McGraw-Hill.<br>
      [14] Franklin, M. E., & Foa, E. B. (2011). Treatment of obsessive compulsive disorder. Annual Review of Clinical
      Psychology, 7, 229-243<br>
      [15] Teismann, T., & Ertle, A. (2011). Verhaltensexperimente in der kognitiven Therapie. Verhaltenstherapie, 21,
      117-124.<br>
      [16] Bloch, M. H., McGuire, J., Landeros-Weisenberger, A., Leckman, J. F., & Pittenger, C. (2010). Meta-analysis
      of the dose-response relationship of SSRI in obsessive-compulsive disorder. Molecular Psychiatry, 15,
      850-855.<br>
      [17] Külz, A. K., Hassenpfug, K., Riemann, D., Linster, H. W., Dornberg, M., & Voderholzer, U. (2010). Ambulante
      psychotherapeutische Versorgung bei Zwangserkrankungen - Ergebnisse einer anonymen Therapeutenbefragung.
      Psychotherapie, Psychosomatik, Medizinische Psychologie, 60, 194-201.
    </p>
  </div>
</ion-content>