<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Schizophrenia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item color="transparent" class="first-item">
      <div color="transparent">
        <h4>What is it?</h4>
        <h5>
          Schizophrenia is a mental illness that is subordinate to psychotic disorders and is characterised by the
          grouping of disorders that are subject to a similar symptom pattern.<br>
          In general, a distinction is made between positive or plus symptoms and negative or minus symptoms. However,
          it is possible that both forms occur simultaneously.
        </h5>
        <div class="image-container">
          <img src="assets/images/mindpedia/schizophrenia_comic_eng.png">
        </div>
      </div>
    </ion-item>

    <ion-item color="transparent">
      <div>
        <h4>Symptoms</h4>
        <h5>
          <b>Positive or Plus Symptoms:</b><br>
          <p class="explanation">This means, experience is increased compared to healthy people.</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Delusions (e.g. persecutory delusions, delusions of reference, delusions of grandeur, erotomanic
                delusions)</li>
              <li>Hallucinations (e.g. hearing voices)</li>
              <li>Disorganized thinking (e.g. loosening of associations, flight of ideas, tangential speech)</li>
              <li>Disorganized behaviour (e.g. significant agitation, grimacing)</li>
              <li>Disturbed motor behavior (e.g. stereotyped movements, catatonic stupor, mutism)</li>
            </ul>
          </ion-list>

          <b>Negative or Minus Symptoms:</b><br>
          <p class="explanation">This means, functions are reduced or completely lost compared to healthy people.</p>
          <br>
          <ion-list class="content-list">
            <ul>
              <li>Reduction in facial expression and gestures</li>
              <li>Loss of pleasure and motivation</li>
              <li>Decrease in verbal communication</li>
              <li>Anhedonia (= restricted or cancelled perception of positive emotions) <sup>1</sup></li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>

    <ion-item color="transparent">
      <div>
        <h4>Epidemiology <h5 class="caption">(= incidence of diseases in the population)</h5>
        </h4>
        <h5>
          <p class="subtitles">Progression:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Symptoms of schizophrenia last for at least a year</li>
              <li>very different progressions:
                <ul class="ul-subitem">
                  <li class="subitem">Only a psychotic episode with following complete remission (= abatement of
                    symptoms)</li>
                  <li class="subitem">Chronic progressive (= worsening) clinical picture without symptom-free phases
                    <sup>2</sup>
                  </li>
                </ul>
              </li>
            </ul>
          </ion-list>

          <p class="subtitles">Risk Factors:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Genetic Risk Factors:
                <ul class="ul-subitem">
                  <li class="subitem">Heredity: 81% <sup>3</sup></li>
                  <li class="subitem">Newer and larger studies: 64% <sup>4</sup></li>
                </ul>
              </li>
              <li>Psychosocial Risk Factors:
                <ul class="ul-subitem">
                  <li class="subitem">Study: Physical trauma (e.g. massive violence, accidents) or other traumatic
                    events (e.g. bullying, childhood neglect) led in 86% of cases to psychotic disorder (i.e. delusions,
                    hallucinations, etc.). <sup>5</sup><sup> 6</sup></li>
                  <li class="subitem">The more traumatic events, the more delusional thoughts <sup>7</sup></li>
                  <li class="subitem">(Critical) life events: no significant changes <sup>8</sup></li>
                  <li class="subitem">Everyday stressors (e.g. missing the bus): small fluctuations of current positive
                    symptoms <sup>9</sup></li>
                </ul>
              </li>
              <li>Further Environmental Risk Factors:
                <ul class="ul-subitem">
                  <li class="subitem">Pregnancy and birth complications: increased risk <sup>10</sup></li>
                  <li class="subitem">Season of birth: slightly increased risk for winter-spring births <sup>11</sup>
                  </li>
                </ul>
              </li>
            </ul>
          </ion-list>

          <p class="subtitles">Additional Info:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>26 million (4.4 million in Europe) people diagnosed with Schizophrenia <sup>12</sup></li>
              <li>Lifetime prevalence (= cases of illness in a lifetime): 0.3% Schizophrenia, 0.2% delusions
                <sup>1</sup>
              </li>
              <li>Highest incidence at the age of 20-29 (women up to 39) <sup>2</sup></li>
              <li>Influencing factors: migration, city, level of development of the country <sup>13</sup></li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>

    <ion-item color="transparent">
      <div>
        <h4 class="titles">Possible Treatment</h4>
        <h5>
          <ion-list class="content-list">
            <ul>
              <li>Currently recommended: drug therapy with neuroleptics in acute phase and for relapse prophylaxis (=
                measure to prevent recurrence of the disease) <sup>14</sup></li>
              <li>Follow-up recommendation: cognitive behavioural therapy or psychoeducational family interventions
                <sup>15</sup><sup> 16</sup><sup> 17</sup>
              </li>
              <li>Further recommendations: social skills training, neuropsychological training,
                sociotherapy <sup>17</sup><sup> 11</sup><sup> 18</sup></li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
  </ion-list>

  <div class="sources">
    <p>
      [1] American Psychiatric Association (APA). (2015). Diagnostisches und
      Statistisches Manual Psychischer Störungen - DSM-5 (deutsche
      Ausgabe herausgegeben von Peter Falkai und Hans-Ulrich Wittchen,
      mitherausgegeben von Manfred Döpfner, Wolfgang Gaebel,
      Wolfgang Maier, Winfried Rief, Henning Saß und Michael
      Zaudig). Göttingen: Hogrefe.<br>
      [2] Lang, F. U., Kösters, M., Lang, S., Becker, T., & Jäger, M. (2013).
      Psychopathological long-term outcome of schizophrenia - A review.
      Acta Psychiatrica Scandinavica, 127, 173-182.<br>
      [3] Sullivan, P. F., Kendler, K. S., & Neale, M. C. (2003). Schizophrenia
      as a complex trait. Archives of General Psychiatry, 60, 1187-
      1192.<br>
      [4] Lichtenstein, P., Yip, B. H., Björk, C., Pawitan, Y., Cannon, T. D.,
      Sullivan, P. F., et al. (2009). Common genetic determinants of
      schizophrenia and bipolar disorder in Swedish families: A population-
      based study. The Lancet, 373, 234-239<br>
      [5] Varese, F., Smeets, F., Drukker, M., Lieverse, R., Lataster, T., Viechtbauer,
      W., et al. (2012). Childhood adversities increase the risk
      of psychosis: A meta-analysis of patient-control, prospective-
      and cross-sectional cohort studies. Schizophrenia Bulletin,
      38(4), 661-671.<br>
      [6] Hardy, A., Emsley, R., Freeman, D., Bebbington, P., Garety, P. A.,
      Kuipers, E. E., et al. (2016). Psychological mechanisms mediating
      effects between trauma and psychotic symptoms: The role
      of affect regulation, intrusive trauma memory, beliefs, and depression.
      Schizophrenia Bulletin, 42(1), S34-S43.<br>
      [7] Scott, J., Chant, D., Andrews, G., Martin, G., & McGrath, J. (2007).
      Association between trauma exposure and delusional experiences
      in a large community-based sample. British Journal of Psychiatry,
      190, 339-343.<br>
      [8] Horan, W. P., Ventura, J., Nuechterlein, K. H., Subotnik, K.
      L., Hwang, S. S., & Mintz, J. (2005). Stressful life events in
      recent-onset schizophrenia: reduced frequencies and altered subjective
      appraisals. Schizophrenia Research, 75(2-3), 363-374.<br>
      [9] Myin-Germeys, I., & van Os, J. (2007). Stress-reactivity in psychosis:
      Evidence for an affective pathway to psychosis. Clinical Psychology
      Review, 27(4), 409-424.<br>
      [10] Schmitt, A., Malchow, B., Hasan, A., & Falkai, P. (2014). The impact
      of environmental factors in severe psychiatric disorders. Frontiers
      in Neuroscience, 8, 1-10.<br>
      [11] Exner, C., & Lincoln, T. (2012). Neuropsychologie schizophrener Störungen.
      Göttingen: Hogrefe.<br>
      [12] World Health Organization (WHO). (2008). The global burden of disease:
      2004 update. Geneva: WHO Press.<br>
      [13] McGrath, J., Saha, S., Chant, D., & Welham, J. (2008). Schizophrenia:
      A concise overview of incidence, prevalence, and mortality.
      Epidemiologic Reviews, 30, 67-76.<br>
      [14] Leucht, S., Arbter, D., Engel, R. R., Kissling, W., & Davis, J. M.
      (2009). How effective are second-generation antipsychotic drugs? A meta-analysis of placebo-controlled trials.
      Molecular
      Psychiatry, 14, 429-447.<br>
      [15] Myin-Germeys, I., & van Os, J. (2007). Stress-reactivity in psychosis:
      Evidence for an affective pathway to psychosis. Clinical Psychology
      Review, 27(4), 409-424.<br>
      [16] Fowler, D., Garety, P., & Kuipers, E. (1995). Cognitive behaviour therapy
      for psychosis. Theory and practice. Chichester: Wiley.<br>
      [17] Lincoln, T., Pedersen, A., Hahlweg, K., Wiedl, K., & Frantz, I.
      (2019). Evidenzbasierte Leitlinie zur Psychotherapie von Schizophrenie
      und anderen psychotischen Störungen. Göttingen: Hogrefe.<br>
      [18] Falkai, P. (2016). Praxishandbuch Schizophrenie. München: Elsevier.<br>
    </p>
  </div>
</ion-content>