<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-buttons>
    <ion-title>
      Calm Down
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header-background"></div> -->

<ion-content [fullscreen]="true">
  <ion-row class="header">
    <ion-col size="auto">
      <ion-buttons (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-buttons>
    </ion-col>
    <ion-col>
      <div class="title">
        <ion-label>Calm Down</ion-label>
      </div>
    </ion-col>
  </ion-row>

  <div class="caption">
    Engaging in mindfulness practices like deep breathing or meditation can significantly reduce stress and anxiety
    levels. <p class="source">apa.org</p>
  </div>

  <div class="recently-played">
    <h3 [ngClass]="{ 'playing': isPlaying }">{{ isPlaying ? 'Playing ...' : 'Recently Played'}}</h3>
    <div class="recently-played-content">
      <ion-icon *ngIf="isRecentSong; else noSong" [name]="isPlaying ? 'musical-note' : 'play-circle'"
        (click)="playFirstSong()"></ion-icon>

      <ng-template #noSong>
        <div class="start-listening" *ngIf="!isRecentSong" (click)="playFirstSong()">
          <ion-icon *ngIf="!isRecentSong" name="play"></ion-icon>
          <p *ngIf="!isRecentSong">Start listening...</p>
        </div>
      </ng-template>

      <ion-label (click)="playFirstSong()">
        <p class="title"><b>{{ recentTitle }}</b></p>
        <p class="artist">{{ recentArtist }}</p>
      </ion-label>
    </div>
  </div>

  <ion-segment (ionChange)="segmentChanged($event)" mode="md" [value]="segmentValue" class="playlist-segment">
    <ion-segment-button value="1">
      <ion-label>Featured</ion-label>
    </ion-segment-button>
    <ion-segment-button value="2">
      <ion-label>Custom</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list *ngIf="segmentValue == '1'" lines="none" class="featured-list">
    <ion-item color="transparent" *ngFor="let song of songs" (click)="playSong(song)"
      [ngClass]="{ 'current-song': currentSong === song.songUrl }" class="featured-item">
      <div class="playlist-song">
        <ion-icon name="musical-notes"></ion-icon>
        <div>
          <p class="title"><b>{{ song.title }}</b></p>
          <p class="artist">{{ song.artist }}</p>
        </div>
      </div>
      <ion-icon class="more-icon" (click)="presentActionSheet(song); $event.stopPropagation()" name="ellipsis-vertical"
        slot="end"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="segmentValue == '2'" lines="none" class="custom-list">
    <ion-item color="transparent" *ngFor="let customSong of customSongs; let i = index" (click)="playCustomSong(customSong, i)"
      [ngClass]="{ 'current-song': currentSong === customSong.songUrl }">
      <div class="playlist-song">
        <ion-icon name="musical-notes"></ion-icon>
        <div>
          <p class="title"><b>{{ customSong.title }}</b></p>
          <p class="artist">{{ customSong.artist }}</p>
        </div>
      </div>
      <ion-icon class="remove-icon" (click)="removeFromCustomPlaylist(customSong); $event.stopPropagation()"
        name="remove-circle" slot="end"></ion-icon>
    </ion-item>
  </ion-list>

  <div class="audio-container">
    <audio #audioPlayer id="calmDownSongs" width="320" height="240">
      <source [src]="currentSong" type="audio/mpeg">
    </audio>
  </div>
</ion-content>

<div class="controls-container">
  <div class="controls" *ngIf="currentSong">
    <ion-row class="ion-padding">
      <ion-col class="song-col">
        <ion-label>
          <p><b>{{ currentTitle }}</b></p>
          <p>{{ currentArtist }}</p>
        </ion-label>
      </ion-col>
      <ion-col size="auto" class="icon-col">
        <ion-icon class="first-icon" name="play-skip-back-circle" (click)="previousSong()"></ion-icon>
        <ion-icon [name]="isPlaying ? 'pause-circle' : 'play-circle'" (click)="togglePlayPause()"></ion-icon>
        <ion-icon name="play-skip-forward-circle" (click)="nextSong()"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-range [(ngModel)]="currentTime" min="0" [max]="duration" (ionChange)="goToTime($event)"
      class="time-bar"></ion-range>
  </div>
</div>