// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


:root {
    --ion-font-family: 'Poppins', sans-serif;

    --ion-color-secondary: #CFEEF9;
	--ion-color-secondary-rgb: 207,238,249;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #b6d1db;
	--ion-color-secondary-tint: #d4f0fa;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;
}
