<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Stay Calm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-container">
    <img src="assets/images/pandas/panda_relax.png">
  </div>
  <ion-list lines="none">
    <ion-item color="transparent">
      <div color="transparent">
        <h4>How it works:</h4>
        <h5>Staying calm involves consciously controlling your reactions in stressful situations. This can be achieved
          through techniques such as deep breathing, progressive muscle relaxation, or counting to ten before
          responding.</h5>
      </div>
    </ion-item>
    <ion-item color="transparent">
      <div>
        <h4>Why it works:</h4>
        <h5>When you stay calm, you activate the parasympathetic nervous system, which helps lower the heart rate and
          reduce stress hormones like cortisol. This reaction can prevent the fight-or-flight response that occurs in
          high-stress situations, helping to maintain mental clarity and emotional stability.</h5>
      </div>
    </ion-item>
  </ion-list>

  <div class="sources">
    <p>
      Hofmann, S. G., et al. (2010). The effect of mindfulness-based therapy on anxiety and depression: A meta-analytic
      review. Journal of Consulting and Clinical Psychology, 78(2), 169-183.<br>
      Jerath, R., et al. (2015). The benefits of deep breathing on emotional control, stress reduction, and anxiety: A
      physiological and psychological analysis. Journal of Clinical Psychology, 71(3), 271-283.
    </p>
  </div>
</ion-content>