<meta name="viewport" content="width=device-width, initial-scale=1.0">
<ion-content [fullscreen]="true" class="background">
  <div class="logo-background">
    <img class="logo" src="assets/logo/mind-mate_logo.png" alt="MindMate Logo">
  </div>
  <ion-card>
    <form [formGroup]="form">
      <ion-item lines="none" class="ion-margin-horizontal ion-margin-top textfield">
        <ion-button slot="start" fill="clear" color="medium">
          <ion-icon slot="icon-only" name="mail"></ion-icon>
        </ion-button>
        <ion-input 
          labelPlacement="floating" 
          type="email" 
          formControlName="email" 
          placeholder="Enter Email here"
          errorText="Email is not correct">
          <ion-text>Email</ion-text>
          <div slot="label">Email</div>
        </ion-input>
      </ion-item>

      <ion-item lines="none" class="ion-margin">
        <ion-button slot="start" fill="clear" color="medium">
          <ion-icon slot="icon-only" name="lock-closed"></ion-icon>
        </ion-button>
        <ion-input 
          labelPlacement="floating" 
          [type]="isPwd ? 'text' : 'password'" 
          formControlName="password"
          placeholder="Enter Password here" 
          [errorText]="form!.get('password')!.hasError('minlength') ? 'Password is too short' : 'Enter a proper Password'">
          <div slot="label">Password</div>
        </ion-input>
        <ion-button slot="end" fill="clear" color="dark" (click)="togglePwd()">
          <ion-icon class="pwd-eye" slot="icon-only" [name]="isPwd ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-item>

      <div class="ion-text-right ion-margin-horizontal">
        <ion-text class="fpwd" color="light">Forgot Password?</ion-text>
      </div>

      <div class="ion-margin submit" (click)="onSubmit()">
        <ion-button expand="block" size="large">
          <ion-text color="dark"><strong>Login</strong></ion-text>
        </ion-button>
      </div>
    </form>

  </ion-card>
</ion-content>