ion-header {
    box-shadow: none;

    ion-label {
        margin-left: 2vh;

        h2 {
            font-weight: 800;
            font-size: 20px;
            margin-top: 3vh;
        }

        p {
            font-weight: bold;
            font-size: medium;
        }
    }
}

ion-content {
  --overflow: hidden;
    

    ion-item {
        border-radius: 30px;
        border: 1px solid black;
        margin: 0 3.5vh;
        //transition: border-color 0.3s;

        ion-icon {
            color: rgb(68, 68, 68);
            font-size: 20px;
        }
    }

    ion-item .input-wrapper {
        padding-top: 0; /* Verhindert das zusätzliche Padding beim Floating */
      }

    ion-item:focus-within:not(.valid-item):not(.invalid-item) {
        border-color: #3880ff;
    }

    .valid-item {
        border-color: #28a745;
    }

    .invalid-item {
        border-color: #dc3545;
    }

    ion-button {
        margin: 8vh 3.5vh 0 3.5vh;

        ion-text {
            font-size: 1rem;
            color: var(--ion-color-light);
        }
    }
}