<ion-header class="ion-no-border">
  <ion-list lines="none" class="ion-margin-top">
    <ion-list-header class="ion-padding">
      <ion-label>
        <h2>{{ getData()?.title }}</h2>
        <p>
          {{ getData()?.subTitle }}
        </p>
      </ion-label>
    </ion-list-header>
  </ion-list>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-list lines="none">
      <ion-item-group *ngIf="flag == 1">
        <ion-item class="ion-padding-horizontal" 
          [ngClass]="{ 'valid-item': emailCtrl.valid && emailCtrl.touched || emailCtrl.valid && emailCtrl.dirty, 
          'invalid-item': emailCtrl.invalid && emailCtrl.touched}">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-input
            label="Email" 
            labelPlacement="floating" 
            mode="md"
            shape="round" 
            type="email" 
            name="email" 
            ngModel
            email 
            #emailCtrl="ngModel"
            required>
          </ion-input>
        </ion-item>
      </ion-item-group>
      <ion-item-group *ngIf="flag == 2">
        <ion-item class="ion-padding-horizontal" 
          [ngClass]="{ 'valid-item': newPasswordCtrl.valid && newPasswordCtrl.touched || newPasswordCtrl.valid && newPasswordCtrl.dirty, 
          'invalid-item': newPasswordCtrl.invalid && newPasswordCtrl.touched}">
          <ion-icon name="lock-closed" slot="start"></ion-icon>
          <ion-input
            label="New Password" 
            labelPlacement="floating" 
            mode="md"
            [type]="isPwd ? 'text' : 'password'"
            name="new_password" 
            ngModel
            #newPasswordCtrl="ngModel"
            required 
            minlength="8">
          </ion-input>
          <ion-icon (click)="togglePwd()" class="pwd-eye" [name]="isPwd ? 'eye-off' : 'eye'"></ion-icon>
        </ion-item>
      </ion-item-group>
    </ion-list>
    <ion-button 
      expand="block" 
      size="large" 
      shape="round" 
      color="primary" 
      mode="ios" 
      type="submit"
      [disabled]="!f.valid">
      <ion-text>
        {{ getData()?.button }}
      </ion-text>
    </ion-button>
  </form>

</ion-content>