<ion-menu menuId="side-menu" contentId="side-menu-content" side="end">
  <ion-content class="ion-no-padding home-menu-content">
    <ion-list class="menu-list" lines="none">
      <ion-item class="menu-items" color="transparent" (click)="openSettingsModal()">
        Background
      </ion-item>
      <ion-item class="menu-items" color="transparent" (click)="openSettingsModal()">
        Notifications
      </ion-item>
      <ion-item class="menu-items" color="transparent" (click)="openProfileModal()">
        Profile
      </ion-item>
      <ion-item ion-button class="menu-items last-item" color="transparent" (click)="logout()">
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-modal #edit_profile>
  <ng-template>
    <div class="transparent">
      <app-edit-profile [username]="username"></app-edit-profile>
    </div>
  </ng-template>
</ion-modal>

<ion-modal #settings>
  <ng-template>
    <div class="transparent">
      <app-settings></app-settings>
    </div>
  </ng-template>
</ion-modal>