ion-menu {
    @media (max-height: 700px) {
        --height: 32%
    }

    @media (min-height: 701px) {
        --height: 28.5%;
    }

    @media (min-height: 801px) {
        --height: 25%
    }

    @media (min-height: 851px) {
        --height: 23.5%
    }
    
    //--width: var(--screen-width, 40%);

     @media (min-width: 351px) {
        --width: var(--screen-width, 44%);
    }

    @media (min-width: 376px) {
        --width: var(--screen-width, 42%);
    }

    @media (min-width: 410px) {
        --width: var(--screen-width, 40%);
    }
    

    .home-menu-content {
        --background: #CFEEF9;
        --margin-top: 8%; // 20px;
        --padding-start: 8%; // 20px;
        --padding-end: 8%; // 20px;

        .menu-list {
            background-color: transparent;
            justify-content: space-between;
            
         
            .menu-items {
                color: black;
                border-bottom: 1px solid black;
                border-color: black;
            }

            .last-item {
                border-bottom: none;
            }
        }
    }
}

 ion-menu::part(container) {
    border-radius: 0 0 0 30px;
    box-shadow: 4px 0px 16px rgba(0, 0, 0, 0.6);
}