<ion-content fullscreen="true" class="main-content">
  <div class="user-content ion-padding">
    <ion-row class="header">
      <ion-col>
        <ion-label class="edit-profile">Edit Profile</ion-label>
      </ion-col>
      <ion-col size="auto">
        <ion-buttons (click)="close()">
          <ion-icon name="close"></ion-icon>
        </ion-buttons>
      </ion-col>
    </ion-row>
    
    <div class="user-info">
      <div class="profile-pic" (click)="presentPhotoActionSheet()">
        <img *ngIf="profileImage" [src]="profileImage" alt="Profile Image">
      </div>
      <ion-label class="username">{{ username.trim() === '' ? 'User' : username }}</ion-label>
    </div>


    <div class="user-settings">
      <ion-input
        type="text"
        fill="outline"
        label="Username"
        labelPlacement="stacked"
        [placeholder]="usernamePlaceholder"
        [clearInput]="true"
        maxlength="18"
        [(ngModel)]="newUsername">
      </ion-input>

      <ion-input
        type="email"
        fill="outline"
        label="Email"
        labelPlacement="stacked"
        [placeholder]="emailPlaceholder"
        [clearInput]="true"
        [(ngModel)]="newEmail"
        #emailInput="ngModel"
        email>
      </ion-input>
      <div *ngIf="emailInput.invalid && emailInput.touched" class="error-text">
        <small *ngIf="emailInput.errors?.['email']">Please enter a valid email address.</small>
      </div>

      <ion-input
        type="password"
        fill="outline"
        label="Password"
        labelPlacement="stacked"
        [type]="isPwd ? 'text' : 'password'"
        placeholder="Change Password"
        [clearInput]="true"
        minlength="8"
        ngModel>
        <ion-button slot="end" fill="clear" (click)="togglePwd()">
          <ion-icon class="pwd-eye" slot="icon-only" [name]="isPwd ? 'eye-off' : 'eye'"></ion-icon>
        </ion-button>
      </ion-input>
  </div>

  <div class="save-button">
    <ion-button id="save-changes" mode="ios" shape="round" >Save</ion-button>
  </div>  
  <ion-action-sheet 
    trigger="save-changes" 
    header="Save Settings?" 
    [buttons]="actionSheetButtons">
  </ion-action-sheet>

  </div>
</ion-content>