/* ion-header {
    --background: linear-gradient(to right, #b91d73, #f953c6);

        ion-toolbar {
       --background: red; //linear-gradient(to right, #b91d73, #f953c6);
    } 
} */

.main-content {
    width: 100%;
    --overflow: hidden;

    @media (max-height: 799px) {
        --overflow: auto;
    }

    .user-content {
        width: 100%;
        height: 260px; //310
        background: rgb(123, 195, 255);
        border-bottom-left-radius: 90%;
        border-bottom-right-radius: 90%;

        .edit-profile {
            font-size: 18px;
            color: azure;
            font-weight: bold;
        }

        ion-icon {
            font-size: 22px;
        }

        .user-info {
            padding-top: 30px;
            text-align: center;

            .profile-pic {
                height: 120px;
                width: 120px;
                border-radius: 100%;
                background-image: url('../../../assets/images/edit-profile/person.png');
                background-color: azure;
                background-size: cover;
                background-repeat: no-repeat;
                //background-position: center;
                margin: 0 auto;
                margin-bottom: 12px;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                  }
            }

            .username {
                color: azure;
                font-size: 20px;
                font-weight: 600;
            }
        }

        .user-settings {
            margin: 100px 15px 20px 15px;

            ion-input {
                color: black;
                margin-bottom: 15%;
                --padding-top: 0.9%;
                --border-width: 0px;

                ::ng-deep {
                    .native-input {
                        color: rgba(0, 0, 0, 0.4);
                    }

                    .native-input:focus {
                        color: black;
                    }
                }

                .pwd-eye {
                    color: rgb(95, 95, 95);
                }

            }

            ::ng-deep ion-input {
                border-radius: 30px !important;
                border: 1px solid black !important;
                padding-bottom: 5px !important;
                padding-left: 2px; 
            }

            ::ng-deep ion-input .label-text {
                background-color: var(--ion-color-secondary);
                padding: 0 4px;
                margin-bottom: 12px;
                font-size: 17px;
            }

            .error-text {
                color: red;
                margin-top: -15%;
                margin-bottom: 9.7%;
                margin-left: 6%;
            }
        }

    }

    .save-button {
        display: flex;
        justify-content: center;
        margin-top: 55px;

        ion-button {
            color: azure;
            font-size: 17px;
            width: 50%;
        }
    }
}