<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Personality Disorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item color="transparent" class="first-item">
      <div color="transparent">
        <h4>What is it?</h4>
        <h5>
          Personality disorders are enduring patterns of behavior and inner experience that deviate markedly from
          cultural expectations. These can be grouped into categories like borderline, antisocial, or narcissistic
          personality disorders.
        </h5>
      </div>
    </ion-item>
    <ion-item color="transparent">
      <div>
        <h4 class="titles">Symptoms</h4>
        <h5>
          <ion-list class="content-list">
            <ul>
              <li>Distorted self-image</li>
              <li>Difficulties in interpersonal relationships</li>
              <li>Impulsivity</li>
              <li>Emotional instability</li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
    <!-- <ion-item color="transparent">
      <div>
        <h4>Edidiomology</h4>
        <h5>

        </h5>
      </div>
    </ion-item> -->
    <ion-item color="transparent">
      <div>
        <h4>Possible Treatment</h4>
        <h5>
          <p class="subtitles">Dialectical Behavior Therapy (DBT):</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Especially used for borderline personality disorder.</li>
            </ul>
          </ion-list>
          <p class="subtitles">Cognitive Behavioral Therapy:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Used to modify maladaptive behavior patterns.</li>
            </ul>
          </ion-list>
          <p class="subtitles">Long-term Psychotherapy:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Used to address deep-seated issues related to personality. <sup>1</sup></li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>
  </ion-list>

  <div class="sources">
    <p>
      [1] Widiger, T. A., & Rojas, S. L. (2015). Personality disorders. Psychiatry, 1706-1748.
    </p>
  </div>
</ion-content>