<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>Bipolar Disorder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list lines="none">
    <ion-item color="transparent" class="first-item">
      <div>
        <h4>What is it?</h4>
        <h5>
          A condition in which the mood alternates between mania and depression. This alternation often occurs for a
          lifetime. Mania is a change in mood that is persistent in intensity and duration and also occurs with symptoms
          such as the urge to talk or increased drive. People with bipolar disorder occasionally experience happiness,
          joy or pride. In these moments, those affected are inclined to spontaneously hug the other person, laugh,
          dance or talk to themselves.
        </h5>
      </div>
    </ion-item>

    <ion-item color="transparent">
      <div>
        <h4 class="titles">Symptoms of Mania</h4>
        <h5>
          <ion-list class="content-list">
            <ul>
              <li>Language: loud, urgent, vigorous, confrontational</li>
              <li>Activity: increased, changing, restless, centre of attention</li>
              <li>Posture: powerful, upright, restless, driven</li>
              <li>Facial expression: lively, many facial expressions, exaggerated</li>
              <li>Emotions: irritable, funny, exaggerated, carefree</li>
              <li>Psychological-vegetative: little need for sleep, full of energy, excited</li>
              <li>Cognitive: positive or optimistic attitude, racing thoughts, impulsiveness
                <sup>1</sup><sup> 2</sup><sup> 3</sup>
              </li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>

    <ion-item color="transparent">
      <div>
        <h4>Classification</h4>
        <h5>
          <p class="subtitles">Bipolar-I Disorder:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Occurrence of repeated manic episodes (possible occurrence of depressive phases)</li>
            </ul>
          </ion-list>
          <p class="subtitles">Bipolar-II Disorder:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Alternation of hypomania (= mild manic phases) with depressive episodes</li>
            </ul>
          </ion-list>
          <p class="subtitles">Cyclothymic Disorder:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Chronic disturbance of mood and drive</li>
              <li>lasts at least 2 years</li>
              <li>on more than 50% of days, hypomanic symptoms (not episodes) alternate with depressive states (not
                episodes) <sup>4</sup></li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>

    <ion-item color="transparent">
      <div>
        <h4>Epidemiology <h5 class="caption">(= incidence of diseases in the population)</h5>
        </h4>
        <h5>
          <p class="subtitles">Progression:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>very different progressions:
                <ul class="ul-subitem">
                  <li class="subitem">Few episodes in a lifetime</li>
                  <li class="subitem">100 or more episodes in a lifetime</li>
                </ul>
              </li>
              <li>High relapse rate <sup>5</sup></li>
            </ul>
          </ion-list>

          <p class="subtitles">Formation Conditions:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Genetics:
                <ul class="ul-subitem">
                  <li class="subitem">Heredity: 7-10%</li>
                  <li class="subitem">Heredity of identical twins: match about 60% <sup>6</sup></li>
                </ul>
              </li>
              <li>Circadian (= fluctuations in body functions) rythm:
                <ul class="ul-subitem">
                  <li class="subitem">Changes in sleep patterns</li>
                  <li class="subitem">Fluctuations in body temperature and heart rate <sup>7</sup></li>
                </ul>
              </li>
              <li>Cellular and nerve-related factors:
                <ul class="ul-subitem">
                  <li class="subitem">Altered intracellular signal conversion <sup>8</sup></li>
                  <li class="subitem">Lack of neurotrophins (= signalling proteins) => brain has limited trainability
                    <sup>9</sup><sup> 10</sup>
                  </li>
                </ul>
              </li>
              <li>Psychological factors:
                <ul class="ul-subitem">
                  <li class="subitem">Over-activation (e.g. increased drive) or under-activation (e.g. lack of drive) of
                    the BAS (= behavioural activation system) leads to manic or depressive symptoms <sup>11</sup><sup>
                      12</sup></li>
                  <li class="subitem">Distorted thinking reinforces extreme mood => thus escalation of manic or
                    depressive episodes (e.g. ignoring negative feedback) <sup>13</sup><sup> 14</sup></li>
                  <li class="subitem">Misinterpretation of internal conditions (e.g. overvaluation of physical
                    sensations, such as fatigue = depression) <sup>15</sup></li>
                </ul>
              </li>
            </ul>
          </ion-list>

          <p class="subtitles">Additional Info:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>about 40 million people diagnosed with Bipolar Disorder <sup>16</sup></li>
              <li>Lifetime prevalence (= cases of illness in a lifetime): 1-5% <sup>17</sup></li>
              <li>Highest incidence at the age of 15-19 </li>
              <li>Influencing factors: female, life events, existing psychotic symptoms <sup>18</sup></li>
              <li>Highest suicide risk of all psychiatric disorders <sup>19</sup></li>
            </ul>
          </ion-list>
        </h5>
      </div>
    </ion-item>

    <ion-item color="transparent">
      <div>
        <h4>Possible Treatment</h4>
        <h5>
          <p class="subtitles">Drug Therapy:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>Relapse Prophylactic Therapy with mood stabilizers <sup>20</sup> <sup> 21</sup> <sup> 22</sup></li>
              <li>Treatment of Mania with Antipsychotics (eg. Aripirazole, Olanzapine)</li>
              <li>Treatment of bipolar depression with both, Antidepressants and mood stabilizers <sup>23</sup>
                <sup> 21</sup> <sup> 24</sup>
              </li>
            </ul>
          </ion-list>
          <p class="subtitles">Psychoeducation and Psychotherapy:</p><br>
          <ion-list class="content-list">
            <ul>
              <li>In combination with drug treatment</li>
              <li>especially useful for psychosocial problems (e.g. family conflicts, self-esteem, stress) <sup>25</sup></li>
              <li>Used Therapies:
                <ul class="ul-subitem">
                  <li class="subitem">Family-Focused Treatment (FFT) <sup>26</sup></li>
                  <li class="subitem">Interpersonal and social rhythm therapy (IPSRT) <sup>27</sup></li>
                  <li class="subitem">Cognitive behavioural therapy (CBT) <sup>28</sup><sup> 29</sup></li>
                </ul>
              </li>
            </ul>
          </ion-list>

        </h5>
      </div>
    </ion-item>
  </ion-list>

  <div class="sources">
    <p>
      [1] Judd, L. L., Akiskal, H. S., Schettler, P. J., Endicott, J., Maser, J., Solomon, D. A., et al. (2002). The
      long-term natural history of the
      weekly symptomatic status of bipolar I disorder. Archives of General Psychiatry, 59, 530-537.<br>
      [2] Judd, L. L., Schettler, P. J., Solomon, D. A., Maser, J. D., Coryell, W., Endicott, J., & Akiskal, H. S.
      (2008). Psychosocial disability and work role function compared across the long-term course of bipolar I, bipolar
      II and unipolar major depressive disorders. Journal of Affective Disorders, 108, 49-58.<br>
      [3] Kessler, R. C., Akiskal, H. S., Ames, M., Birnbaum, H., Greenberg, P., Hirschfeld, R., et al. (2006).
      Prevalence and effects of mood disorders on work performance in a nationally representative sample of U. S.
      workers. American Journal of Psychiatry, 163, 1561-1568.<br>
      [4] American Psychiatric Association (APA). (2015). Diagnostisches und
      Statistisches Manual Psychischer Störungen - DSM-5 (deutsche
      Ausgabe herausgegeben von Peter Falkai und Hans-Ulrich Wittchen,
      mitherausgegeben von Manfred Döpfner, Wolfgang Gaebel,
      Wolfgang Maier, Winfried Rief, Henning Saß und Michael
      Zaudig). Göttingen: Hogrefe.<br>
      [5] Kessler, R. C., McGonagle, K. A., Zhao, S., Nelson, C. B., Hughes, M., Eshleman, S., et al. (1994). Lifetime
      and 12-month prevalence of DSM-III-R psychiatric disorders in the United States. Results from the National
      Comorbidity Survey. Archives of General Psychiatry, 51, 8-19.<br>
      [6] Kato, T. (2001). Molecular genetics of bipolar disorder. Neuroscience Research, 40, 105-113.<br>
      [7] Juckel, G., & Mavrogiorgou, P. (2005). Neurobiologie bipolarer Störungen. In M. Bauer (Hrsg.), Neurobiologie
      und Therapie bipolarer Erkrankungen (S. 18-31). Bremen: UNIMED Science<br>
      [8] Manjii, H. K., & Lenox, R. H. (2000). Signaling: Cellular insights into the pathophysiology of bipolar
      disorder. Biological Psychiatry, 48, 518-530.<br>
      [9] Gould, T. D., Quiroz, J. A., Singh, J., Zarate, C. A., & Manji, H. K. (2004). Emerging experimental
      therapeutics for bipolar disorder: Insights from the molecular and cellular actions of current mood stabilizers.
      Molecular Psychiatry, 9, 734-755.<br>
      [10] Quiroz, J. A., Singh, J., Gould, T. D., Denicoff, K. D., Zarate, C. A., & Manji, H. K. (2004). Emerging
      experimental therapeutics for bipolar disorder: Clues from the molecular pathophysiology. Molecular Psychiatry, 9,
      756-776.<br>
      [11] Depue, R. A., & Iacono, W. G. (1989). Neurobehavioral aspects of affective disorders. Annual Review of
      Psychology, 40, 457-492.<br>
      [12] Depue, R. A., & Zald, D. H. (1993). Biological and environmental
      processes in nonpsychotic psychopathology: A neurobehavioral
      perspective. In C. G. Costello (Hrsg.), Basic issues in psychopathology (S. 127-237). New York: Guilford.<br>
      [13] Alloy, L. B., Nusslock, R., & Boland, E. M. (2015). The development and course of bipolar spectrum disorders:
      an integrated reward and circadian rhythm dysregulation model. Annual Review of
      Clinical Psychology, 11, 213-250.<br>
      [14] Meyer, T. D. (2008b). Bipolare Störungen. In J. Margraf & S. Schneider (Hrsg.), Lehrbuch der
      Verhaltenstherapie (3. erw. Auf.). Berlin. Springer.<br>
      [15] Mansell, W., Morrison, A. P., Reid, G., Lowens, I., & Tai, S. (2007).
      The interpretation of, and responses to, changes in internal states: An integrative cognitive model of mood swings
      and bipolar.<br>
      disorders. Behavioural and Cognitive Psychotherapy, 35, 515-539.<br>
      [16] GBD 2019 Mental Disorders Collaborators. Global, regional, and national burden of 12 mental disorders in 204
      countries and territories, 1990-2019: a systematic analysis for the Global Burden of Disease Study 2019. Lancet
      Psychiatry. 2022;9:137-50. doi:10.1016/S2215-0366(21)00395-3.<br>
      [17] Goodwin, F. K., & Jamison, K. R. (2007). Manic-depressive illness: Bipolar disorders and recurrent depression
      (2. Ed.). New York: Oxford University Press.<br>
      [18] Bauer, M., Juckel, G., Correll, C., Leopold, K., & Pfennig, A. (2008c). Diagnosis and treatment in the early
      illness phase of bipolar disorders. European Archives of Psychiatry and Clinical Neuroscience, 258(5), 50-54.<br>
      [19] Baldessarini, R. J., & Tondo, L. (2003). Suicide risk and treatments for patients with bipolar disorder.
      Journal of the American Medical Association, 290, 1517-1519.<br>
      [20] Müller-Oerlinghausen, B., Berghöfer, A., & Bauer, M. (2002). Bipolar disorder. Lancet, 359, 241-247.<br>
      [21] Yatham, L. N., Kennedy, S. H., Schaffer, A., Parikh, S. V., Beaulieu, S., O'Donovan, C., et al. (2009).
      Canadian Network for Mood and Anxiety Treatments (CANMAT) and International Society for Bipolar Disorders (ISBD)
      collaborative update of CANMAT guidelines for the management of patients with bipolar disorder: update 2009.
      Bipolar Disorders, 11, 225-255.<br>
      [22] Bauer, M., & Gitlin, M. (2016). The essential guide to lithium treatment. Basel: Springer International
      Publishing.<br>
      [23] Bauer, M. (Hrsg.). (2005). Neurobiologie und Therapie bipolarer Erkrankungen. Bremen: Uni-Med.<br>
      [24] Grunze, H., Vieta, E., Goodwin, G. M., Bowden, C., Licht, R. W., Möller, H. J., Kasper, S., & WFSBP Task
      Force On Treatment Guidelines For Bipolar Disorders. (2010). The World Federation of Societies of Biological
      Psychiatry (WFSBP) guidelines for the biological treatment of bipolar disorders: Update 2010 on the treatment of
      acute bipolar depression. World Journal of Biological Psychiatry, 11, 81-109.<br>
      [25] DGBS & DGPPN. (2019). S3-Leitlinie zur Diagnostik und Therapie Bipolarer Störungen. Langversion 2.0, Update
      Mai 2019 (7 http://www.leitlinie-bipolar.de) S3 Leitlinie: Diagnostik und Therapie bipolarer Störungen. Berlin:
      Springer.<br>
      [26] Miklowitz, D. J. (2010). Bipolar disorder. A family-focused treatment approach (2. Aufl.). New York: Guilford
      Press.<br>
      [27] Frank, E. (2005). Treating bipolar disorder. A clinician's guide to interpersonal and social rhythm therapy.
      New York: Guilford.<br>
      [28] Basco M. R., & Rush A. J. (1996). Cognitive-Behavioural Therapy for Bipolar Disorder. New York: Guilford.<br>
      [29] Meyer, T. D., & Hautzinger, M. (2013). Bipolare Störungen. Kognitiv-verhaltenstherapeutisches
      Behandlungsmanual. Weinheim: Beltz.
    </p>
  </div>
</ion-content>