ion-toolbar {
    --background: var(--ion-color-secondary);
    padding-left: 9px;
    padding-right: 5px;

    ion-buttons {
        color: black;
        font-size: large;

        .header-profile-pic {
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    }
}

::ng-deep ion-modal {
    --ion-background-color: var(--ion-color-secondary);

    ion-header {
        --ion-background: transparent; //var(--ion-background-secondary);
    }
}

.main-content {
    --background: #CFEEF9; //url('../../../assets/backgrounds/tabs/home_background.png') no-repeat center center/cover;
    --margin-top: 20px;
    --padding-start: 20px;
    --padding-end: 20px;

    p {
        font-size: 22px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        margin-top: 40px;
        padding-bottom: 15px;
        margin-left: 10px;
    }

    .headline-container {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .penguin-wave {
            width: 32%;
            height: auto;
            justify-content: right;
            margin-right: 15px;
        }
    }

    ion-row {
        //display: flex;
        justify-content: space-between;
    }

    ion-card {
        margin: 0;
        margin-bottom: 22px;
        border-radius: 27px;
        /*         box-shadow: 0 0px 8px rgba(80, 80, 80, 0.5),
            0 -0px 8px rgb(80, 80, 80, 0.5),
            -0px 0 88px rgba(80, 80, 80, 0.5),
            0px 0 8px rgba(80, 80, 80, 0.5); */
        box-shadow: none;
        background-color: rgb(92, 165, 237); // rgb(76, 154, 233);

        ion-card-title {
            font-weight: bold;
            color: azure;
    
            @media (max-width: 386px) {
                font-size: 19.5px;
            }

            @media (max-width: 381px) {
                font-size: 19px;
            }

            @media (max-width: 370px) {
                font-size: 18.5px;
            }

            @media (max-width: 360px) {
                font-size: 18px;
            }

            @media (max-width: 356px) {
                font-size: 17.5px;
            }

            @media (max-width: 351px) {
                font-size: 17px;
            }
        }

        .act-row {
            .no-mood {
                color: azure;
                font-size: 17px;
                font-weight: normal;
                margin: 0;

                @media (max-width: 398px) {
                    font-size: 16.5px;
                }
    
                @media (max-width: 392px) {
                    font-size: 16px;
                }
    
                @media (max-width: 381px) {
                    font-size: 15.5px;
                }
    
                @media (max-width: 370px) {
                    font-size: 15.5px;
                }
    
                @media (max-width: 360px) {
                    font-size: 15px;
                }
    
                @media (max-width: 356px) {
                    font-size: 14.5px;
                }
    
                @media (max-width: 351px) {
                    font-size: 14px;
                }
            }

            .mood-item {
                display: flex;
                align-items: center;
                //justify-content: center;

                ion-img {
                    min-height: 35px;
                    min-width: 35px;
                    height: 35px;
                    width: 35px;
                }

                .phrases {
                    color: azure;
                    font-size: small;
                    margin: 0;
                    margin-left: 15%;
                    padding: 0;
                }
            }
        }

        .act-row-canvas {
              display: flex;
              //align-items: center;
              justify-content: space-between;

            canvas {
                max-width: 130px;
                max-height: 52.5px;
            }

            #hr-trend-chart-home {
                
                padding-right: 10%;
                border-right: 1px solid rgb(240, 255, 255, 0.7);
            }

            #act-trend-chart-home {
               
                padding-left: 8%;
            }
        }

        .tips-bulb {
            font-size: 20px;
            color: azure;
            rotate: 4deg;
        }

        ion-card-content {
            color: azure;
            font-size: 17px;

            @media (max-width: 398px) {
                font-size: 16.5px;
            }

            @media (max-width: 392px) {
                font-size: 16px;
            }

            @media (max-width: 381px) {
                font-size: 15.5px;
            }

            @media (max-width: 370px) {
                font-size: 15.5px;
            }

            @media (max-width: 360px) {
                font-size: 15px;
            }

            @media (max-width: 356px) {
                font-size: 14.5px;
            }

            @media (max-width: 351px) {
                font-size: 14px;
            }

            //margin-top: 5px;
            //margin-bottom: 5px;
        }
    }


    .questionnaire-img {
        width: 80%;
        margin-left: 10px;
        margin-top: 10px;

        @media (max-width: 386px) {
            margin-left: 7px;
        }

        @media (max-width: 381px) {
            margin-top: 12px;
            margin-left: 7px;
        }

        @media (max-width: 370px) {
            margin-top: 14px;
            margin-left: 7px;
        }

        @media (max-width: 364px) {
            margin-top: 16px;
            margin-left: 6px;
        }

        @media (max-width: 356px) {
            margin-top: 16px;
            margin-left: 4px;
        }

        @media (max-width: 342px) {
            margin-top: 16px;
            margin-left: 3px;
        }
    }

    .penguin-reading {
        width: 80%;
        margin-top: 50px;
        margin-right: 8px;
        margin-left: 0;
    }

    .mood-card,
    .playlist-card {
        width: 46.5% !important;
    }

    .tips-card {
        width: 40%;
    }

    .mindpedia-card {
        width: 53%;
    }
}