<!-- <ion-menu menuId="home-menu" contentId="home-settings" side="end">
  <ion-content class="ion-no-padding home-menu-content">
    <ion-list class="menu-list" lines="none">
      <ion-item class="menu-items" color="transparent">
        Background
      </ion-item>
      <ion-item class="menu-items" color="transparent">
        Notifications
      </ion-item>
      <ion-item class="menu-items" color="transparent">
        Profile
      </ion-item>
      <ion-item ion-button class="menu-items" color="transparent" (click)="logout()">
        Logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->
<!-- <app-side-menu></app-side-menu> -->
<div class="ion-page" id="side-menu-content">
  <ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start" id="home-edit-profile">
        <ion-icon *ngIf="!profileImage" slot="icon-only" name="person-circle"></ion-icon>
        <img *ngIf="profileImage" [src]="profileImage" class="header-profile-pic">
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-menu-button menu="side-menu">
          <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-modal #edit_profile trigger="home-edit-profile">
    <ng-template>
      <div class="transparent">
        <app-edit-profile [username]="username"></app-edit-profile>
      </div>
    </ng-template>
  </ion-modal>

  <ion-content [fullscreen]="true" class="main-content">
    <div class="headline-container">
      <p *ngIf="username">Nice to see You {{ username }}!</p>
      <img src="assets/images/penguins/penguin_waves.png" class="penguin-wave" art="Penguin Waves">
    </div>

    <div class="cards-container">
      <ion-card color="success" class="questionnaire-card" (click)="switchTab('questionnaire')">
        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <ion-card-header>
                <ion-card-title>Daily Questionnaire</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                How are you feeling today? <br>What are your concerns?
              </ion-card-content>
            </ion-col>

            <ion-col>
              <img src="assets/images/questionnaire/questionnaire.png" class="questionnaire-img"
                art="Questionnaire Image">
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>


      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-card color="warning" class="mood-card" (click)="switchTab('well-being')">
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <ion-card-header>
                    <ion-card-title>Mood</ion-card-title>
                  </ion-card-header>

                  <ion-card-content>
                    <ion-row class="act-row">
                      <ion-icon name="happy" size="large"></ion-icon>
                    </ion-row>
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card color="secondary" class="playlist-card" (click)="switchTab('playlist')">
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <ion-card-header>
                    <ion-card-title>Playlists</ion-card-title>
                  </ion-card-header>

                  <ion-card-content>
                    <ion-row class="act-row">
                      <ion-icon name="pause-circle" size="large"></ion-icon>
                      <ion-icon name="stop-circle" size="large"></ion-icon>
                      <ion-icon name="play-circle" size="large"></ion-icon>
                    </ion-row>
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-row>
      </ion-grid>

      <ion-card color="medium" class="activity-card" (click)="switchTab('well-being')">
        <ion-grid>
          <ion-row>
            <ion-col size="auto">
              <ion-card-header>
                <ion-card-title>Activities</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-row class="act-row">
                  <ion-icon name="pulse" size="large"></ion-icon>
                  <label> | </label>
                  <ion-icon name="bar-chart" size="large"></ion-icon>
                </ion-row>
              </ion-card-content>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-card color="primary" class="tips-card" routerLink="/more-tab/tips">
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <ion-card-header>
                    <ion-row>
                      <ion-card-title>Tips</ion-card-title>
                      <ion-icon name="bulb" class="tips-bulb"></ion-icon>
                    </ion-row>
                  </ion-card-header>

                  <ion-card-content>
                    Some Tips & <br>Tricks to feel <br>better.
                  </ion-card-content>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card class="mindpedia-card" routerLink="/more-tab/mindpedia">
            <ion-grid>
              <ion-row>
                <ion-col size="auto">
                  <ion-card-header>
                    <ion-card-title>Mindpedia</ion-card-title>
                  </ion-card-header>

                  <ion-card-content>
                    Important <br>information <br>about major <br>diseases.
                  </ion-card-content>
                </ion-col>

                <ion-col>
                  <img src="assets/images/penguins/penguin_reading.png" class="penguin-reading" art="Penguin Reading">
                </ion-col>

              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-row>
      </ion-grid>

    </div>

    <!-- <app-edit-profile *ngIf="showEditProfile"></app-edit-profile> -->
  </ion-content>
</div>